Script to clean the data extracted from MIMIC, and save clean version for future use.
Remove clearly anomalous values.
Sum GCS components, remove individual components, and introduce GCS_total.
Convert units for consisitency with GICU (UK data).
Introduce 'airway' variable (remove PEEP and AIRWAY)...this is a reduced version of current AIRWAY

脚本来清理从MIMIC中提取的数据，并保存干净的版本以备将来使用。
清除明显的异常值。
Sum GCS组件，移除单个组件，并引入GCS_total。
转换单位与GICU(英国数据)的一致性。
引入“气道”变量(去除PEEP和气道)…这是目前气道的简化版

In [1]:
import numpy as np
import pickle
import datetime
import pandas as pd

*Note: in the following mapping we exclude venous po2 and pco2, and diastolic bp.
*注意:在以下制图中，我们排除了静脉po2、pco2和舒张压。

In [2]:
#变量映射
variable_mapping = dict()
variable_mapping['fio2'] = [226754, 227009, 227010,223835]
variable_mapping['resp'] = [220210, 224688, 224689, 224690]
variable_mapping['po2'] = [226770,227039,220224,227516]
variable_mapping['pco2'] = [220235,227036,226063,226062]
variable_mapping['temp'] = [223761, 223762, 224027]
variable_mapping['hr'] = [220045]
variable_mapping['bp'] = [220050, 220059, 220179, 224167, 225309, 227243, 226850, 226852]
variable_mapping['k'] = [220640, 227464, 227442, 226772, 226535]
variable_mapping['na'] = [220645, 226534, 226776]
variable_mapping['hco3'] = [224826, 226759, 227443]
variable_mapping['spo2'] = [220227, 220277, 226860,226861,226862,226863,226865,228232]
variable_mapping['bun'] = [225624, 227000, 227001]
variable_mapping['airway'] = [223838, 224832, 224391, 227810,223837, 224829]
variable_mapping['gcs'] = [220739, 223900, 223901, 226755, 226756, 226757, 226758, 227011, 227012, 227013, 227014,228112]
variable_mapping['creatinine'] = [220615, 226752, 227005]
variable_mapping['pain'] = [223791, 227881]
variable_mapping['urine'] = [227519, 227059]
variable_mapping['haemoglobin'] = [220228]
variable_mapping['peep'] = [220339, 224699, 224700]

variable_mapping['ALB'] = [227456]
variable_mapping['ALT'] = [220644]
# variable_mapping['AST'] = [226770,227039,227516,220224]             与上面po2相同
variable_mapping['WBC'] = [220546 ,226779,226780,227062,227063]  
variable_mapping['PLT'] = [225170 , 227457]
variable_mapping['NEUT'] = [225643]
variable_mapping['TBIL'] = [225690] 
# variable_mapping['SCr'] = [220615, 226752, 227005]                 与上面 creatinine 一样             肌酸酐
# variable_mapping['HBG'] = [220228]                                 与上面 haemoglobin   一样           血红蛋白
variable_mapping['PTT'] = [227466]
variable_mapping['PT'] = [227465]
variable_mapping['INR'] = [227467]
# variable_mapping['PLR'] = [225170,227457]                           与 PLR一样，                          血小板
variable_mapping['GLU'] = [228388,220621, 226537,227015,227016]
variable_mapping['THR'] = [227469]
variable_mapping['DIASBP'] = [226851,226853]
variable_mapping['CO2'] = [220245]
variable_mapping['CL'] = [220602]
variable_mapping['Lac'] = [220955]

We will use the following dictionary of tuples to check for non-physical variable values:
我们将使用以下元组字典来检查非物理变量值:

In [3]:
#外在的限制
physical_limit = dict()
physical_limit['creatinine'] = (0.0, 50.0)
physical_limit['fio2'] = (0.0, 100.0)
physical_limit['resp'] = (0.0,100.0)
physical_limit['po2'] = (0.0,500.0)
physical_limit['pco2'] = (0.0,500.0)
physical_limit['temp'] = (80.0, 120.0)
physical_limit['hr'] = (0.0, 250.0)
physical_limit['bp'] = (0.0, 500.0)
physical_limit['k'] = (0.0, 50.0)
physical_limit['na'] = (0.0, 500.0)
physical_limit['hco3'] = (0,100.0)
physical_limit['spo2'] = (10.0, 100.0)
physical_limit['bun'] = (0.0,300.0)
physical_limit['gcs'] = (0.0, 16.0)
physical_limit['pain'] = (0.0, 10.0)
physical_limit['peep'] = (0.0, 50.0)
physical_limit['haemoglobin'] = (0.0, 100.0)
physical_limit['airway'] = (None,None)

In [4]:
#itemid 编号、模块、主键。。。
def _remove_anomalies(data, physical_limit,index, variable_dict, verbose=False):
    ## define which ITEMIDs correspond to which variables.定义哪些itemid对应于哪些变量。
# 这里我放在 外部解决了
    # #Python 字典(Dictionary) items() 函数以列表返回可遍历的(键, 值) 元组数组。
    # # get_var = lambda it: [variable for variable,items in variable_dict.iteritems() if it in items][0]
    # get_var = lambda it: [variable for variable,items in variable_dict.items() if it in items][0]
    # # all_itemids = [item for sublist in variable_dict.values() for item in sublist]
    # all_itemids = [item for sublist in list(variable_dict.values()) for item in sublist]
    # var_id = {item: get_var(item) for item in all_itemids}
    # data['remove_col'] = data.apply(lambda row: 1
    # # if row['C.VALUENUM']>physical_limit[var_id[row['C.ITEMID']]][1] or
    # #    row['C.VALUENUM']<physical_limit[var_id[row['C.ITEMID']]][0] else 0)
    # if data['C.VALUENUM']>physical_limit[var_id[data['D.ITEMID']]][1] or
    #    data['C.VALUENUM']<physical_limit[var_id[data['D.ITEMID']]][0] else 0 ,axis=1)
    # ## now filter the data frame:现在过滤数据帧:
    # print ("%d rows to remove:" %sum(data['remove_col']==1))
#
    if verbose:
        print ("For example:")
        # removed = data[data['remove_col']==1].sample(0.001)
        removed = data[data['remove_col']==1].sample(frac=0.001, replace=True, random_state=1)
        # removed.print_rows(num_rows=20)
        num_rows = removed.iloc[0:20]
        print(num_rows)
    # data = data[data['remove_col'] == 0]
    # index=[]
    # for i in list(all_data.index):
    #     if float(all_data['remove_col'][i]) == 0:
    #         index.append(i)
    data = data.loc[index]
    # data = data.remove_column('remove_col')
    data=data.drop(['remove_col'], axis=1)
    print ("Anomalies removed.")
    return data

In [5]:
# all_data = pd.read_pickle('mimic_all_data9')
all_data = pd.read_pickle('begin_akf')
all_data

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,...,hrs_bd,final_24hr,final_48hr,final_72hr,cohort,in_h_death,in_icu_death,readmit,outcome,akf
0,109,147469,253139,223761,2141-06-11 12:13:00,98.8,98.8,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,98.976944,1,1,1,1,0,0,0,1,1
1,109,147469,253139,223761,2141-06-11 16:00:00,98.8,98.8,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,95.193611,1,1,1,1,0,0,0,1,1
2,109,147469,253139,223761,2141-06-11 20:00:00,98,98.0,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,91.193611,1,1,1,1,0,0,0,1,1
3,109,147469,253139,223761,2141-06-12 00:00:00,97,97.0,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,87.193611,1,1,1,1,0,0,0,1,1
4,109,147469,253139,223761,2141-06-12 04:00:00,96.4,96.4,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,83.193611,1,1,1,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4181590,98254,114329,237545,228232,2107-10-18 12:06:00,Able to maintain O2 sat >92% on RA,2.0,None,2107-10-17 00:29:52,2107-10-18 18:35:58,...,6.499444,0,1,1,1,0,0,0,1,1
4181591,98724,186754,205000,228232,2143-08-23 16:56:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2143-08-22 16:02:26,2143-08-24 19:58:56,...,27.048889,0,1,1,1,0,0,0,1,1
4181592,99923,192053,298857,228232,2201-05-16 06:00:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2201-05-16 06:06:34,2201-05-18 11:45:27,...,53.757500,1,1,1,1,0,0,0,1,1
4181593,99923,192053,298857,228232,2201-05-16 06:15:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2201-05-16 06:06:34,2201-05-18 11:45:27,...,53.507500,1,1,1,1,0,0,0,1,1
4181594,99923,192053,298857,228232,2201-05-16 06:32:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2201-05-16 06:06:34,2201-05-18 11:45:27,...,53.224167,1,1,1,1,0,0,0,1,1

In [6]:
#           去掉  ['D.ITEMID','C.VALUENUM'] 缺失值 所在的  行
#           去掉  ['D.ITEMID','C.VALUENUM'] 缺失值 所在的  行
all_data=all_data.dropna(axis=0, how="any", subset=['D.ITEMID','C.VALUENUM'], inplace=False)
all_data
# all_data=all1.dropna(axis=0, how="any", thresh=None, subset=['C.VALUENUM'], inplace=False)
# all_data.to_pickle('mimic_all_data1_1')

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,...,hrs_bd,final_24hr,final_48hr,final_72hr,cohort,in_h_death,in_icu_death,readmit,outcome,akf
0,109,147469,253139,223761,2141-06-11 12:13:00,98.8,98.8,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,98.976944,1,1,1,1,0,0,0,1,1
1,109,147469,253139,223761,2141-06-11 16:00:00,98.8,98.8,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,95.193611,1,1,1,1,0,0,0,1,1
2,109,147469,253139,223761,2141-06-11 20:00:00,98,98.0,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,91.193611,1,1,1,1,0,0,0,1,1
3,109,147469,253139,223761,2141-06-12 00:00:00,97,97.0,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,87.193611,1,1,1,1,0,0,0,1,1
4,109,147469,253139,223761,2141-06-12 04:00:00,96.4,96.4,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,83.193611,1,1,1,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4181590,98254,114329,237545,228232,2107-10-18 12:06:00,Able to maintain O2 sat >92% on RA,2.0,None,2107-10-17 00:29:52,2107-10-18 18:35:58,...,6.499444,0,1,1,1,0,0,0,1,1
4181591,98724,186754,205000,228232,2143-08-23 16:56:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2143-08-22 16:02:26,2143-08-24 19:58:56,...,27.048889,0,1,1,1,0,0,0,1,1
4181592,99923,192053,298857,228232,2201-05-16 06:00:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2201-05-16 06:06:34,2201-05-18 11:45:27,...,53.757500,1,1,1,1,0,0,0,1,1
4181593,99923,192053,298857,228232,2201-05-16 06:15:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2201-05-16 06:06:34,2201-05-18 11:45:27,...,53.507500,1,1,1,1,0,0,0,1,1
4181594,99923,192053,298857,228232,2201-05-16 06:32:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2201-05-16 06:06:34,2201-05-18 11:45:27,...,53.224167,1,1,1,1,0,0,0,1,1

In [7]:
all_data['D.ITEMID'].unique()

array([223761, 220045, 220210, 220277, 220050, 220228, 220546, 220602,
       220615, 220621, 220645, 225624, 227442, 227443, 227457, 220179,
       227465, 227466, 227467, 223835, 220224, 220235, 220339, 224688,
       224689, 224690, 227456, 220644, 225690, 220227, 225643, 227464,
       226062, 226063, 226534, 225309, 223762, 224700, 226537, 227516,
       220059, 227810, 220739, 223791, 223900, 223901, 228232])

In [8]:
# # all_data = pd.read_pickle('mimic_all_data1_1')
# # SFrame.filter_by( values，column_name，exclude = False)
# # 按可迭代对象中的值筛选 SFrame。结果是一个 SFrame，它仅包含（或排除）具有给定列的行，该列包含给定 SArray 中的一个值。如果不是 SArray，我们会在过滤之前尝试将其转换为 SArray。
# # exclude如果为 True，则结果 SFrame 将包含除 具有 values 中的行之外的所有行
# # all_data = all_data.filter_by(column_name='C.ITEMID', values=[226062,226063,227516,228151], exclude=True)
# # all_data = all_data.filter(items='C.ITEMID', like=[226062,226063,227516,228151], axis=0) 不合适
# all_data=all_data[~all_data['D.ITEMID'].isin([226062,226063,227516,228151])]  # ~ 表示取反


# # 感觉没有必要
# all_data=all_data[~all_data['D.ITEMID'].isin([228151,220546,220602,220621])]  # ~ 表示取反
# all_data

In [9]:
def row3(x):
    get_var = lambda it: [variable for variable,items in variable_mapping.items() if it in items][0]
    all_itemids = [item for sublist in list(variable_mapping.values()) for item in sublist]
    var_id = {item: get_var(item) for item in all_itemids}

    v=all_data['D.ITEMID'][x]
    if v in [i for item in list(variable_mapping.values()) for i in item]:
        ac=float(all_data['C.VALUENUM'][x])
        # ad=list(variable_mapping.keys())[list(variable_mapping.values()).index(v)]
        ad=physical_limit[var_id[v]]
        if ac>float(ad[1]) or ac<float(ad[0]):
            return 1
        else:
            return 0

In [10]:
# a13 =all_data['D.ITEMID'].apply(lambda x: row3(x))
# a13

all_data['remove_col'] = all_data['D.ITEMID'].apply(lambda x: row3(x))
# all_data.to_pickle('all_data1_2')
# all_data = pd.read_pickle('all_data1_2')
all_data

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,...,final_24hr,final_48hr,final_72hr,cohort,in_h_death,in_icu_death,readmit,outcome,akf,remove_col
0,109,147469,253139,223761,2141-06-11 12:13:00,98.8,98.8,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,1,1,1,1,0,0,0,1,1,0
1,109,147469,253139,223761,2141-06-11 16:00:00,98.8,98.8,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,1,1,1,1,0,0,0,1,1,0
2,109,147469,253139,223761,2141-06-11 20:00:00,98,98.0,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,1,1,1,1,0,0,0,1,1,0
3,109,147469,253139,223761,2141-06-12 00:00:00,97,97.0,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,1,1,1,1,0,0,0,1,1,0
4,109,147469,253139,223761,2141-06-12 04:00:00,96.4,96.4,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,1,1,1,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4181590,98254,114329,237545,228232,2107-10-18 12:06:00,Able to maintain O2 sat >92% on RA,2.0,None,2107-10-17 00:29:52,2107-10-18 18:35:58,...,0,1,1,1,0,0,0,1,1,0
4181591,98724,186754,205000,228232,2143-08-23 16:56:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2143-08-22 16:02:26,2143-08-24 19:58:56,...,0,1,1,1,0,0,0,1,1,0
4181592,99923,192053,298857,228232,2201-05-16 06:00:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2201-05-16 06:06:34,2201-05-18 11:45:27,...,1,1,1,1,0,0,0,1,1,0
4181593,99923,192053,298857,228232,2201-05-16 06:15:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2201-05-16 06:06:34,2201-05-18 11:45:27,...,1,1,1,1,0,0,0,1,1,0
4181594,99923,192053,298857,228232,2201-05-16 06:32:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2201-05-16 06:06:34,2201-05-18 11:45:27,...,1,1,1,1,0,0,0,1,1,0

In [11]:
# all_data['remove_col'] = a12
# all_data
# all_data.to_pickle('all_data1_1')

下面是自己写的 row2 函数，可以实现和 row3 相同功能

a12 =all_data['D.ITEMID'].apply(lambda x: row2(x))
all_data['remove_col'] = a12
def row2(x):
    v=all_data['D.ITEMID'][x]
    # for i,v in enumerate (all_data['D.ITEMID']):
    if v in [i for item in list(variable_mapping.values()) for i in item]:
        ac=float(all_data['C.VALUENUM'][x])
        # ad=list(variable_mapping.keys())[list(variable_mapping.values()).index(v)]

        # #print(list(s.values()).index(200))  # 打印值的索引
        # #print(list(s.keys())[list(s.values()).index(200)])  # 根据列表索引取值

        for key, value in variable_mapping.items():
            if v in value:
                ah=key
                ad=physical_limit[ah]
                if ac>float(ad[1]) or ac<float(ad[0]):
                    return 1
                else:
                    return 0
            else:
                continue
        # ad=[list(variable_mapping.values()).index(ah)]

In [12]:
index=[]
for i in list(all_data.index):
    if float(all_data['remove_col'][i]) == 0:
        index.append(i)
len(index)
all_data = _remove_anomalies(all_data, physical_limit,index, variable_mapping)

Anomalies removed.

In [13]:
# all_data1=all_data

In [14]:
all_data

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,...,hrs_bd,final_24hr,final_48hr,final_72hr,cohort,in_h_death,in_icu_death,readmit,outcome,akf
0,109,147469,253139,223761,2141-06-11 12:13:00,98.8,98.8,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,98.976944,1,1,1,1,0,0,0,1,1
1,109,147469,253139,223761,2141-06-11 16:00:00,98.8,98.8,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,95.193611,1,1,1,1,0,0,0,1,1
2,109,147469,253139,223761,2141-06-11 20:00:00,98,98.0,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,91.193611,1,1,1,1,0,0,0,1,1
3,109,147469,253139,223761,2141-06-12 00:00:00,97,97.0,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,87.193611,1,1,1,1,0,0,0,1,1
4,109,147469,253139,223761,2141-06-12 04:00:00,96.4,96.4,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,83.193611,1,1,1,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4181590,98254,114329,237545,228232,2107-10-18 12:06:00,Able to maintain O2 sat >92% on RA,2.0,None,2107-10-17 00:29:52,2107-10-18 18:35:58,...,6.499444,0,1,1,1,0,0,0,1,1
4181591,98724,186754,205000,228232,2143-08-23 16:56:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2143-08-22 16:02:26,2143-08-24 19:58:56,...,27.048889,0,1,1,1,0,0,0,1,1
4181592,99923,192053,298857,228232,2201-05-16 06:00:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2201-05-16 06:06:34,2201-05-18 11:45:27,...,53.757500,1,1,1,1,0,0,0,1,1
4181593,99923,192053,298857,228232,2201-05-16 06:15:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2201-05-16 06:06:34,2201-05-18 11:45:27,...,53.507500,1,1,1,1,0,0,0,1,1
4181594,99923,192053,298857,228232,2201-05-16 06:32:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2201-05-16 06:06:34,2201-05-18 11:45:27,...,53.224167,1,1,1,1,0,0,0,1,1

In [15]:
# all_data.to_pickle('all_data1_3')
# all_data = pd.read_pickle('all_data1_3')

We add column to data that says what type of variable it is (i.e. the variable name):
我们在数据中添加列来说明它是什么类型的变量(即变量名):

In [16]:
# get_var = lambda it: [variable for variable,items in variable_mapping.iteritems() if it in items][0]
get_var = lambda it: [variable for variable,items in variable_mapping.items() if it in items][0]

In [17]:
# all_data['VARIABLE'] = all_data['C.ITEMID'].apply(lambda itemid: get_var(itemid))
all_data['VARIABLE'] = all_data['D.ITEMID'].apply(lambda itemid: get_var(itemid))
# all_data.materialize()
all_data

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,...,final_24hr,final_48hr,final_72hr,cohort,in_h_death,in_icu_death,readmit,outcome,akf,VARIABLE
0,109,147469,253139,223761,2141-06-11 12:13:00,98.8,98.8,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,1,1,1,1,0,0,0,1,1,temp
1,109,147469,253139,223761,2141-06-11 16:00:00,98.8,98.8,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,1,1,1,1,0,0,0,1,1,temp
2,109,147469,253139,223761,2141-06-11 20:00:00,98,98.0,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,1,1,1,1,0,0,0,1,1,temp
3,109,147469,253139,223761,2141-06-12 00:00:00,97,97.0,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,1,1,1,1,0,0,0,1,1,temp
4,109,147469,253139,223761,2141-06-12 04:00:00,96.4,96.4,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,1,1,1,1,0,0,0,1,1,temp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4181590,98254,114329,237545,228232,2107-10-18 12:06:00,Able to maintain O2 sat >92% on RA,2.0,None,2107-10-17 00:29:52,2107-10-18 18:35:58,...,0,1,1,1,0,0,0,1,1,spo2
4181591,98724,186754,205000,228232,2143-08-23 16:56:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2143-08-22 16:02:26,2143-08-24 19:58:56,...,0,1,1,1,0,0,0,1,1,spo2
4181592,99923,192053,298857,228232,2201-05-16 06:00:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2201-05-16 06:06:34,2201-05-18 11:45:27,...,1,1,1,1,0,0,0,1,1,spo2
4181593,99923,192053,298857,228232,2201-05-16 06:15:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2201-05-16 06:06:34,2201-05-18 11:45:27,...,1,1,1,1,0,0,0,1,1,spo2
4181594,99923,192053,298857,228232,2201-05-16 06:32:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2201-05-16 06:06:34,2201-05-18 11:45:27,...,1,1,1,1,0,0,0,1,1,spo2

We now sum GCS components:
(And remove those that do not have all 3 cpts measured)
我们现在对GCS组件求和:
(除去那些没有测量所有3个cpts的)

In [18]:
# gcs_summed = all_data.filter_by(
#                         column_name='C.ITEMID',
#                         values=variable_mapping['gcs']
#                                 ).groupby(
#                                         key_columns=['C.ICUSTAY_ID', 'C.CHARTTIME'],
#                                         operations={'C.VALUENUM':agg.SUM('C.VALUENUM'),
#                                                      'ncpts':agg.COUNT('C.VALUENUM'),
#                                                      'hrs_bd':agg.SELECT_ONE('hrs_bd'),
#                                                      'C.HADM_ID':agg.SELECT_ONE('C.HADM_ID'),
#                                                      'C.SUBJECT_ID':agg.SELECT_ONE('C.SUBJECT_ID'),
#                                                      'C.ITEMID':agg.MIN('C.ITEMID'),

#                                                      'C.VALUE':agg.SELECT_ONE('C.VALUE',),
#                                                      'C.VALUEUOM':agg.SELECT_ONE('C.VALUEUOM'),
#                                                      'D.LABEL':agg.SELECT_ONE('D.LABEL'),
#                                                      'D.UNITNAME':agg.SELECT_ONE('D.UNITNAME'),
#                                                      'II.INTIME':agg.SELECT_ONE('II.INTIME'),
#                                                      'II.LOS':agg.SELECT_ONE('II.LOS'),
#                                                      'II.OUTTIME':agg.SELECT_ONE('II.OUTTIME'),
#                                                      'final_4hr':agg.SELECT_ONE('final_4hr'),
#                                                      'final_24hr':agg.SELECT_ONE('final_24hr'),
#                                                      'cohort':agg.SELECT_ONE('cohort'),
#                                                      'in_h_death':agg.SELECT_ONE('in_h_death'),
#                                                      'in_icu_death':agg.SELECT_ONE('in_icu_death'),
#                                                      'readmit':agg.SELECT_ONE('readmit'),
#                                                      'outcome':agg.SELECT_ONE('outcome'),
#                                                      'VARIABLE':agg.SELECT_ONE('VARIABLE')
#                                                     })

In [19]:
# gcs_summed = all_data.filter_by(
#                         column_name='C.ITEMID',
#                         values=variable_mapping['gcs'])
gcs_all_data=all_data[all_data['D.ITEMID'].isin(variable_mapping['gcs'])]
gcs_all_data1=gcs_all_data.groupby(by=['C.ICUSTAY_ID', 'C.CHARTTIME'])

In [20]:
import numpy as np

In [21]:
all_data.columns

Index(['C.SUBJECT_ID', 'C.HADM_ID', 'C.ICUSTAY_ID', 'D.ITEMID', 'C.CHARTTIME',
       'C.VALUE', 'C.VALUENUM', 'C.VALUEUOM', 'II.INTIME', 'II.OUTTIME',
       'II.LOS', 'D.LABEL', 'D.UNITNAME', 'hrs_bd', 'final_24hr', 'final_48hr',
       'final_72hr', 'cohort', 'in_h_death', 'in_icu_death', 'readmit',
       'outcome', 'akf', 'VARIABLE'],
      dtype='object')

In [22]:
g1=gcs_all_data1.agg(
    VALUENUM = ('C.VALUENUM','sum'),
    ncpts = ('C.VALUENUM' , 'count'),
    hrs_bd =('hrs_bd',np.random.choice),
    HADM_ID=('C.HADM_ID',np.random.choice),
    SUBJECT_ID=('C.SUBJECT_ID',np.random.choice),
    ITEMID=('D.ITEMID','min'),
    VALUE=('C.VALUE',np.random.choice),
    VALUEUOM=('C.VALUEUOM',np.random.choice),
    LABEL=('D.LABEL',np.random.choice),
    UNITNAME=('D.UNITNAME',np.random.choice),
    INTIME=('II.INTIME',np.random.choice),
    LOS=('II.LOS',np.random.choice),
    OUTTIME=('II.OUTTIME',np.random.choice),
    final_72hr=('final_72hr',np.random.choice),
    final_48hr=('final_48hr',np.random.choice),
    final_24hr=('final_24hr',np.random.choice),
    cohort=('cohort',np.random.choice),
    in_h_death=('in_h_death',np.random.choice),
    in_icu_death=('in_icu_death',np.random.choice),
    readmit=('readmit',np.random.choice),
    outcome=('outcome',np.random.choice),
    VARIABLE=('VARIABLE',np.random.choice)
)
g1

                                  VALUENUM  ncpts     hrs_bd  HADM_ID  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00      15.0      3  73.673611   152234
             2181-11-25 23:49:00      15.0      3  69.173611   152234
             2181-11-26 06:09:00      15.0      3  62.840278   152234
             2181-11-26 09:00:00      15.0      3  59.990278   152234
             2181-11-26 12:00:00      14.0      3  56.990278   152234
...                                    ...    ...        ...      ...
299998       2181-07-06 17:43:00      15.0      3  23.693889   158288
             2181-07-06 20:00:00      15.0      3  21.410556   158288
             2181-07-07 00:00:00      15.0      3  17.410556   158288
             2181-07-07 04:00:00      15.0      3  13.410556   158288
             2181-07-07 08:00:00      13.0      3   9.410556   158288

                                  SUBJECT_ID  ITEMID           VALUE VALUEUOM  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00       55973  220739  Obeys Commands     None
             2181-11-25 23:49:00       55973  220739        Oriented     None
             2181-11-26 06:09:00       55973  220739   Spontaneously     None
             2181-11-26 09:00:00       55973  220739  Obeys Commands     None
             2181-11-26 12:00:00       55973  220739       To Speech     None
...                                      ...     ...             ...      ...
299998       2181-07-06 17:43:00       69587  220739  Obeys Commands     None
             2181-07-06 20:00:00       69587  220739   Spontaneously     None
             2181-07-07 00:00:00       69587  220739   Spontaneously     None
             2181-07-07 04:00:00       69587  220739   Spontaneously     None
             2181-07-07 08:00:00       69587  220739        Confused     None

                                                  LABEL UNITNAME  ...  \
C.ICUSTAY_ID C.CHARTTIME                                          ...
200001       2181-11-25 19:19:00   GCS - Motor Response     None  ...
             2181-11-25 23:49:00  GCS - Verbal Response     None  ...
             2181-11-26 06:09:00      GCS - Eye Opening     None  ...
             2181-11-26 09:00:00      GCS - Eye Opening     None  ...
             2181-11-26 12:00:00  GCS - Verbal Response     None  ...
...                                                 ...      ...  ...
299998       2181-07-06 17:43:00  GCS - Verbal Response     None  ...
             2181-07-06 20:00:00  GCS - Verbal Response     None  ...
             2181-07-07 00:00:00      GCS - Eye Opening     None  ...
             2181-07-07 04:00:00      GCS - Eye Opening     None  ...
             2181-07-07 08:00:00      GCS - Eye Opening     None  ...

                                             OUTTIME  final_72hr final_48hr  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00 2181-11-28 20:59:25           1          1
             2181-11-25 23:49:00 2181-11-28 20:59:25           1          1
             2181-11-26 06:09:00 2181-11-28 20:59:25           1          1
             2181-11-26 09:00:00 2181-11-28 20:59:25           1          1
             2181-11-26 12:00:00 2181-11-28 20:59:25           1          1
...                                              ...         ...        ...
299998       2181-07-06 17:43:00 2181-07-07 17:24:38           1          1
             2181-07-06 20:00:00 2181-07-07 17:24:38           1          1
             2181-07-07 00:00:00 2181-07-07 17:24:38           1          1
             2181-07-07 04:00:00 2181-07-07 17:24:38           1          1
             2181-07-07 08:00:00 2181-07-07 17:24:38           1          1

                                  final_24hr  cohort  in_h_death  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00           1       1           0
             2181-11-25 23:49:00           1       1           0
             2181-11-26 06:09:00           1       1           0
             2181-11-26 09:00:00           1       1           0
             2181-11-26 12:00:00           1       1           0
...                                      ...     ...         ...
299998       2181-07-06 17:43:00           1       0           0
             2181-07-06 20:00:00           0       0           0
             2181-07-07 00:00:00           0       0           0
             2181-07-07 04:00:00           0       0           0
             2181-07-07 08:00:00           0       0           0

                                  in_icu_death  readmit  outcome  VARIABLE
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00             0        0        1       gcs
             2181-11-25 23:49:00             0        0        1       gcs
             2181-11-26 06:09:00             0        0        1       gcs
             2181-11-26 09:00:00             0        0        1       gcs
             2181-11-26 12:00:00             0        0        1       gcs
...                                        ...      ...      ...       ...
299998       2181-07-06 17:43:00             0        1        0       gcs
             2181-07-06 20:00:00             0        1        0       gcs
             2181-07-07 00:00:00             0        1        0       gcs
             2181-07-07 04:00:00             0        1        0       gcs
             2181-07-07 08:00:00             0        1        0       gcs

[126024 rows x 22 columns]

In [23]:
g2 = g1.rename(columns=
          {'VALUENUM': 'C.VALUENUM',
           'HADM_ID' : 'C.HADM_ID',
           'SUBJECT_ID':'C.SUBJECT_ID',
           'ITEMID': 'C.ITEMID',
           'VALUE':'C.VALUE',
           'VALUEUOM':'C.VALUEUOM',
           'LABEL':'D.LABEL',
           'UNITNAME':'D.UNITNAME',
           'INTIME':'II.INTIME',
           'LOS':'II.LOS',
           'OUTTIME':'II.OUTTIME'
           })
g2

                                  C.VALUENUM  ncpts     hrs_bd  C.HADM_ID  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00        15.0      3  73.673611     152234
             2181-11-25 23:49:00        15.0      3  69.173611     152234
             2181-11-26 06:09:00        15.0      3  62.840278     152234
             2181-11-26 09:00:00        15.0      3  59.990278     152234
             2181-11-26 12:00:00        14.0      3  56.990278     152234
...                                      ...    ...        ...        ...
299998       2181-07-06 17:43:00        15.0      3  23.693889     158288
             2181-07-06 20:00:00        15.0      3  21.410556     158288
             2181-07-07 00:00:00        15.0      3  17.410556     158288
             2181-07-07 04:00:00        15.0      3  13.410556     158288
             2181-07-07 08:00:00        13.0      3   9.410556     158288

                                  C.SUBJECT_ID  C.ITEMID         C.VALUE  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00         55973    220739  Obeys Commands
             2181-11-25 23:49:00         55973    220739        Oriented
             2181-11-26 06:09:00         55973    220739   Spontaneously
             2181-11-26 09:00:00         55973    220739  Obeys Commands
             2181-11-26 12:00:00         55973    220739       To Speech
...                                        ...       ...             ...
299998       2181-07-06 17:43:00         69587    220739  Obeys Commands
             2181-07-06 20:00:00         69587    220739   Spontaneously
             2181-07-07 00:00:00         69587    220739   Spontaneously
             2181-07-07 04:00:00         69587    220739   Spontaneously
             2181-07-07 08:00:00         69587    220739        Confused

                                 C.VALUEUOM                D.LABEL D.UNITNAME  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00       None   GCS - Motor Response       None
             2181-11-25 23:49:00       None  GCS - Verbal Response       None
             2181-11-26 06:09:00       None      GCS - Eye Opening       None
             2181-11-26 09:00:00       None      GCS - Eye Opening       None
             2181-11-26 12:00:00       None  GCS - Verbal Response       None
...                                     ...                    ...        ...
299998       2181-07-06 17:43:00       None  GCS - Verbal Response       None
             2181-07-06 20:00:00       None  GCS - Verbal Response       None
             2181-07-07 00:00:00       None      GCS - Eye Opening       None
             2181-07-07 04:00:00       None      GCS - Eye Opening       None
             2181-07-07 08:00:00       None      GCS - Eye Opening       None

                                  ...          II.OUTTIME  final_72hr  \
C.ICUSTAY_ID C.CHARTTIME          ...
200001       2181-11-25 19:19:00  ... 2181-11-28 20:59:25           1
             2181-11-25 23:49:00  ... 2181-11-28 20:59:25           1
             2181-11-26 06:09:00  ... 2181-11-28 20:59:25           1
             2181-11-26 09:00:00  ... 2181-11-28 20:59:25           1
             2181-11-26 12:00:00  ... 2181-11-28 20:59:25           1
...                               ...                 ...         ...
299998       2181-07-06 17:43:00  ... 2181-07-07 17:24:38           1
             2181-07-06 20:00:00  ... 2181-07-07 17:24:38           1
             2181-07-07 00:00:00  ... 2181-07-07 17:24:38           1
             2181-07-07 04:00:00  ... 2181-07-07 17:24:38           1
             2181-07-07 08:00:00  ... 2181-07-07 17:24:38           1

                                 final_48hr  final_24hr  cohort  in_h_death  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00          1           1       1           0
             2181-11-25 23:49:00          1           1       1           0
             2181-11-26 06:09:00          1           1       1           0
             2181-11-26 09:00:00          1           1       1           0
             2181-11-26 12:00:00          1           1       1           0
...                                     ...         ...     ...         ...
299998       2181-07-06 17:43:00          1           1       0           0
             2181-07-06 20:00:00          1           0       0           0
             2181-07-07 00:00:00          1           0       0           0
             2181-07-07 04:00:00          1           0       0           0
             2181-07-07 08:00:00          1           0       0           0

                                  in_icu_death  readmit  outcome  VARIABLE
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00             0        0        1       gcs
             2181-11-25 23:49:00             0        0        1       gcs
             2181-11-26 06:09:00             0        0        1       gcs
             2181-11-26 09:00:00             0        0        1       gcs
             2181-11-26 12:00:00             0        0        1       gcs
...                                        ...      ...      ...       ...
299998       2181-07-06 17:43:00             0        1        0       gcs
             2181-07-06 20:00:00             0        1        0       gcs
             2181-07-07 00:00:00             0        1        0       gcs
             2181-07-07 04:00:00             0        1        0       gcs
             2181-07-07 08:00:00             0        1        0       gcs

[126024 rows x 22 columns]

In [24]:
gcs_all_data

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,...,final_24hr,final_48hr,final_72hr,cohort,in_h_death,in_icu_death,readmit,outcome,akf,VARIABLE
3491912,109,147469,253139,220739,2141-06-11 12:19:00,Spontaneously,4.0,None,2141-06-11 10:17:54,2141-06-15 15:11:37,...,1,1,1,1,0,0,0,1,1,gcs
3491913,109,147469,253139,220739,2141-06-11 16:00:00,To Speech,3.0,None,2141-06-11 10:17:54,2141-06-15 15:11:37,...,1,1,1,1,0,0,0,1,1,gcs
3491914,109,147469,253139,220739,2141-06-11 20:00:00,Spontaneously,4.0,None,2141-06-11 10:17:54,2141-06-15 15:11:37,...,1,1,1,1,0,0,0,1,1,gcs
3491915,109,147469,253139,220739,2141-06-12 00:00:00,Spontaneously,4.0,None,2141-06-11 10:17:54,2141-06-15 15:11:37,...,1,1,1,1,0,0,0,1,1,gcs
3491916,109,147469,253139,220739,2141-06-12 04:00:00,Spontaneously,4.0,None,2141-06-11 10:17:54,2141-06-15 15:11:37,...,1,1,1,1,0,0,0,1,1,gcs
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3939644,99992,197084,242052,223901,2144-07-27 00:28:00,Obeys Commands,6.0,None,2144-07-25 18:04:42,2144-07-27 17:27:55,...,0,1,1,1,0,0,0,1,1,gcs
3939645,99992,197084,242052,223901,2144-07-27 04:00:00,Obeys Commands,6.0,None,2144-07-25 18:04:42,2144-07-27 17:27:55,...,0,1,1,1,0,0,0,1,1,gcs
3939646,99992,197084,242052,223901,2144-07-27 08:00:00,Obeys Commands,6.0,None,2144-07-25 18:04:42,2144-07-27 17:27:55,...,0,1,1,1,0,0,0,1,1,gcs
3939647,99992,197084,242052,223901,2144-07-27 12:00:00,Obeys Commands,6.0,None,2144-07-25 18:04:42,2144-07-27 17:27:55,...,0,1,1,1,0,0,0,1,1,gcs
3939648,99992,197084,242052,223901,2144-07-27 16:00:00,Obeys Commands,6.0,None,2144-07-25 18:04:42,2144-07-27 17:27:55,...,0,1,1,1,0,0,0,1,1,gcs

In [25]:
list(g2['C.ITEMID'].unique())

[220739, 223900, 223901]

In [26]:
gcs_summed =g2

In [27]:
_frac_incomplete = sum(gcs_summed['ncpts']<3)/float(len(gcs_summed))
print ("%.4f of gcs measures not complete." %_frac_incomplete)
gcs_summed1 = gcs_summed[gcs_summed['ncpts']==3]
gcs_summed1

0.0145 of gcs measures not complete.

                                  C.VALUENUM  ncpts     hrs_bd  C.HADM_ID  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00        15.0      3  73.673611     152234
             2181-11-25 23:49:00        15.0      3  69.173611     152234
             2181-11-26 06:09:00        15.0      3  62.840278     152234
             2181-11-26 09:00:00        15.0      3  59.990278     152234
             2181-11-26 12:00:00        14.0      3  56.990278     152234
...                                      ...    ...        ...        ...
299998       2181-07-06 17:43:00        15.0      3  23.693889     158288
             2181-07-06 20:00:00        15.0      3  21.410556     158288
             2181-07-07 00:00:00        15.0      3  17.410556     158288
             2181-07-07 04:00:00        15.0      3  13.410556     158288
             2181-07-07 08:00:00        13.0      3   9.410556     158288

                                  C.SUBJECT_ID  C.ITEMID         C.VALUE  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00         55973    220739  Obeys Commands
             2181-11-25 23:49:00         55973    220739        Oriented
             2181-11-26 06:09:00         55973    220739   Spontaneously
             2181-11-26 09:00:00         55973    220739  Obeys Commands
             2181-11-26 12:00:00         55973    220739       To Speech
...                                        ...       ...             ...
299998       2181-07-06 17:43:00         69587    220739  Obeys Commands
             2181-07-06 20:00:00         69587    220739   Spontaneously
             2181-07-07 00:00:00         69587    220739   Spontaneously
             2181-07-07 04:00:00         69587    220739   Spontaneously
             2181-07-07 08:00:00         69587    220739        Confused

                                 C.VALUEUOM                D.LABEL D.UNITNAME  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00       None   GCS - Motor Response       None
             2181-11-25 23:49:00       None  GCS - Verbal Response       None
             2181-11-26 06:09:00       None      GCS - Eye Opening       None
             2181-11-26 09:00:00       None      GCS - Eye Opening       None
             2181-11-26 12:00:00       None  GCS - Verbal Response       None
...                                     ...                    ...        ...
299998       2181-07-06 17:43:00       None  GCS - Verbal Response       None
             2181-07-06 20:00:00       None  GCS - Verbal Response       None
             2181-07-07 00:00:00       None      GCS - Eye Opening       None
             2181-07-07 04:00:00       None      GCS - Eye Opening       None
             2181-07-07 08:00:00       None      GCS - Eye Opening       None

                                  ...          II.OUTTIME  final_72hr  \
C.ICUSTAY_ID C.CHARTTIME          ...
200001       2181-11-25 19:19:00  ... 2181-11-28 20:59:25           1
             2181-11-25 23:49:00  ... 2181-11-28 20:59:25           1
             2181-11-26 06:09:00  ... 2181-11-28 20:59:25           1
             2181-11-26 09:00:00  ... 2181-11-28 20:59:25           1
             2181-11-26 12:00:00  ... 2181-11-28 20:59:25           1
...                               ...                 ...         ...
299998       2181-07-06 17:43:00  ... 2181-07-07 17:24:38           1
             2181-07-06 20:00:00  ... 2181-07-07 17:24:38           1
             2181-07-07 00:00:00  ... 2181-07-07 17:24:38           1
             2181-07-07 04:00:00  ... 2181-07-07 17:24:38           1
             2181-07-07 08:00:00  ... 2181-07-07 17:24:38           1

                                 final_48hr  final_24hr  cohort  in_h_death  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00          1           1       1           0
             2181-11-25 23:49:00          1           1       1           0
             2181-11-26 06:09:00          1           1       1           0
             2181-11-26 09:00:00          1           1       1           0
             2181-11-26 12:00:00          1           1       1           0
...                                     ...         ...     ...         ...
299998       2181-07-06 17:43:00          1           1       0           0
             2181-07-06 20:00:00          1           0       0           0
             2181-07-07 00:00:00          1           0       0           0
             2181-07-07 04:00:00          1           0       0           0
             2181-07-07 08:00:00          1           0       0           0

                                  in_icu_death  readmit  outcome  VARIABLE
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00             0        0        1       gcs
             2181-11-25 23:49:00             0        0        1       gcs
             2181-11-26 06:09:00             0        0        1       gcs
             2181-11-26 09:00:00             0        0        1       gcs
             2181-11-26 12:00:00             0        0        1       gcs
...                                        ...      ...      ...       ...
299998       2181-07-06 17:43:00             0        1        0       gcs
             2181-07-06 20:00:00             0        1        0       gcs
             2181-07-07 00:00:00             0        1        0       gcs
             2181-07-07 04:00:00             0        1        0       gcs
             2181-07-07 08:00:00             0        1        0       gcs

[124195 rows x 22 columns]

In [28]:
gcs_summed=gcs_summed1

Remove all single GCS components and append the complete GCS values to the data:
移除所有单个GCS组件，并将完整的GCS值附加到数据中:

In [29]:
# all_data = all_data.filter_by(column_name='C.ITEMID', values=variable_mapping['gcs'], exclude=True)
all_data = all_data[~all_data['D.ITEMID'].isin(variable_mapping['gcs'])]
# gcs_summed = gcs_summed.remove_column('ncpts')
gcs_summed=gcs_summed.drop(['ncpts'], axis=1)
all_data = all_data.append(gcs_summed)
## VARIABLE='GCS' is now GCS total  VARIABLE='GCS'现在是GCS总数

In [30]:
# all_data

And convert all required units to be consistent with UK data:
并转换所有所需的单位，以符合英国数据:

In [31]:
units_to_convert = ['creatinine', 'temp', 'po2', 'pco2', 'bun']

conv_crea = lambda crea: 88.42 * float(crea)  ## convert from mg/dL (MIMIC) to umol/L (GICU)
conv_temp = lambda temp: (float(temp)-32)/1.8 ## convert from Farenhiet (MIMIC) to Celcius (GICU)
conv_bg = lambda gas: 0.1333 * float(gas)   ## convert blod gas from mmHg (MIMIC) to kPa (GICU)
conv_bun = lambda bun: 0.3571 * float(bun)  ## convert mg/dL (MIMC) to mmol/L (GICU)

def _convert(var, val):
    new_val = None
    if var=='creatinine':
        new_val = conv_crea(val)
    elif var=='temp':
        if val==None:
            new_val=None
        else:
            new_val = conv_temp(val)
    elif var=='po2' or var=='pco2':
        new_val = conv_bg(val)
    elif var=='bun':
        new_val = conv_bun(val)
    return new_val

In [32]:
all_data['C.VALUENUM'] = all_data.apply(lambda row: _convert(row['VARIABLE'], row['C.VALUENUM'])
if (row['VARIABLE'] in units_to_convert and row['C.VALUENUM']!=None) else row['C.VALUENUM'] ,axis=1)
# all_data.materialize()

We now work out if airway is patent...
We simply use presence of ETT as proxy for non-patent airway.
remove PEEP (it would be possible to stipulate PEEP + ETT -> non-patent,
but simultaneity calculation is an unecessary complication).
我们现在知道气道是否属于专利。
我们只是简单地使用ETT作为非专利气道的代理。
移除PEEP(可以规定PEEP + ETT ->非专利，但同时性计算是一种不必要的并发症)。

In [33]:
# airway_reduced = all_data.filter_by(
#                             column_name='C.ITEMID',
#                             values=variable_mapping['airway']
#                             ).groupby(key_columns=['C.ICUSTAY_ID', 'C.CHARTTIME'],
#                                       operations={'hrs_bd':agg.SELECT_ONE('hrs_bd'),
#                                                  'C.HADM_ID':agg.SELECT_ONE('C.HADM_ID'),
#                                                  'C.SUBJECT_ID':agg.SELECT_ONE('C.SUBJECT_ID'),
#                                                  'C.ITEMID':agg.MIN('C.ITEMID'),
#                                                  'C.VALUE':agg.SELECT_ONE('C.VALUE',),
#                                                  'C.VALUEUOM':agg.SELECT_ONE('C.VALUEUOM'),
#                                                  'D.LABEL':agg.SELECT_ONE('D.LABEL'),
#                                                  'D.UNITNAME':agg.SELECT_ONE('D.UNITNAME'),
#                                                  'II.INTIME':agg.SELECT_ONE('II.INTIME'),
#                                                  'II.LOS':agg.SELECT_ONE('II.LOS'),
#                                                  'II.OUTTIME':agg.SELECT_ONE('II.OUTTIME'),
#                                                  'final_4hr':agg.SELECT_ONE('final_4hr'),
#                                                  'final_24hr':agg.SELECT_ONE('final_24hr'),
#                                                  'cohort':agg.SELECT_ONE('cohort'),
#                                                  'in_h_death':agg.SELECT_ONE('in_h_death'),
#                                                  'in_icu_death':agg.SELECT_ONE('in_icu_death'),
#                                                  'readmit':agg.SELECT_ONE('readmit'),
#                                                  'outcome':agg.SELECT_ONE('outcome'),
#                                                  'VARIABLE':agg.SELECT_ONE('VARIABLE')
#                                                 })
#
# airway_reduced['C.VALUENUM'] = airway_reduced['C.ICUSTAY_ID'].apply(lambda x: 1.0)

In [34]:
gcs_summed=all_data[all_data['D.ITEMID'].isin(variable_mapping['airway'])]
gcs_summed1=gcs_summed.groupby(by=['C.ICUSTAY_ID', 'C.CHARTTIME'],as_index=False)

In [36]:
g3=gcs_summed1.agg(
    hrs_bd =('hrs_bd',np.random.choice),
    HADM_ID=('C.HADM_ID',np.random.choice),
    SUBJECT_ID=('C.SUBJECT_ID',np.random.choice),
    ITEMID=('D.ITEMID','min'),
    VALUE=('C.VALUE',np.random.choice),
    VALUEUOM=('C.VALUEUOM',np.random.choice),
    LABEL=('D.LABEL',np.random.choice),
    UNITNAME=('D.UNITNAME',np.random.choice),
    INTIME=('II.INTIME',np.random.choice),
    LOS=('II.LOS',np.random.choice),
    OUTTIME=('II.OUTTIME',np.random.choice),
    final_72hr=('final_72hr',np.random.choice),
    final_48hr=('final_48hr',np.random.choice),
    final_24hr=('final_24hr',np.random.choice),
    cohort=('cohort',np.random.choice),
    in_h_death=('in_h_death',np.random.choice),
    in_icu_death=('in_icu_death',np.random.choice),
    readmit=('readmit',np.random.choice),
    outcome=('outcome',np.random.choice),
    VARIABLE=('VARIABLE',np.random.choice)
)
g3

,C.ICUSTAY_ID,C.CHARTTIME,hrs_bd,HADM_ID,SUBJECT_ID,ITEMID,VALUE,VALUEUOM,LABEL,UNITNAME,...,OUTTIME,final_72hr,final_48hr,final_24hr,cohort,in_h_death,in_icu_death,readmit,outcome,VARIABLE
0,200143.0,2191-04-06 04:10:00,540.373056,170244,94414,227810.0,1,None,ETT Re-taped,None,...,2191-04-28 16:32:23,0,0,0,1,1,1,0,0,airway
1,200143.0,2191-04-10 16:00:00,432.539722,170244,94414,227810.0,1,None,ETT Re-taped,None,...,2191-04-28 16:32:23,0,0,0,1,1,1,0,0,airway
2,200143.0,2191-04-12 04:00:00,396.539722,170244,94414,227810.0,1,None,ETT Re-taped,None,...,2191-04-28 16:32:23,0,0,0,1,1,1,0,0,airway
3,200143.0,2191-04-16 01:00:00,303.539722,170244,94414,227810.0,1,None,ETT Re-taped,None,...,2191-04-28 16:32:23,0,0,0,1,1,1,0,0,airway
4,200282.0,2164-05-06 13:20:00,288.465833,176395,77484,227810.0,1,None,ETT Re-taped,None,...,2164-05-18 13:47:57,0,0,0,1,0,0,0,1,airway
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283,299758.0,2200-05-30 15:00:00,27.801667,127088,68842,227810.0,1,None,ETT Re-taped,None,...,2200-05-31 18:48:06,1,1,1,1,0,0,0,1,airway
1284,299802.0,2154-09-08 21:00:00,50.448889,142122,63039,227810.0,1,None,ETT Re-taped,None,...,2154-09-10 23:26:56,1,1,0,1,0,0,0,1,airway
1285,299853.0,2101-01-16 20:00:00,39.010000,179082,95830,227810.0,1,None,ETT Re-taped,None,...,2101-01-18 11:00:36,1,1,1,1,0,0,0,1,airway
1286,299956.0,2177-06-12 00:18:00,325.800278,108958,58128,227810.0,1,None,ETT Re-taped,None,...,2177-06-25 14:06:01,0,0,0,1,0,0,0,1,airway
1287,299998.0,2181-07-05 23:21:00,42.060556,158288,69587,227810.0,1,None,ETT Re-taped,None,...,2181-07-07 17:24:38,1,1,1,0,0,0,1,0,airway

In [37]:
g4 = g3.rename(columns=
          {
           'HADM_ID' : 'C.HADM_ID',
           'SUBJECT_ID':'C.SUBJECT_ID',
           'ITEMID': 'C.ITEMID',
           'VALUE':'C.VALUE',
           'VALUEUOM':'C.VALUEUOM',
           'LABEL':'D.LABEL',
           'UNITNAME':'D.UNITNAME',
           'INTIME':'II.INTIME',
           'LOS':'II.LOS',
           'OUTTIME':'II.OUTTIME'
           })
g4

,C.ICUSTAY_ID,C.CHARTTIME,hrs_bd,C.HADM_ID,C.SUBJECT_ID,C.ITEMID,C.VALUE,C.VALUEUOM,D.LABEL,D.UNITNAME,...,II.OUTTIME,final_72hr,final_48hr,final_24hr,cohort,in_h_death,in_icu_death,readmit,outcome,VARIABLE
0,200143.0,2191-04-06 04:10:00,540.373056,170244,94414,227810.0,1,None,ETT Re-taped,None,...,2191-04-28 16:32:23,0,0,0,1,1,1,0,0,airway
1,200143.0,2191-04-10 16:00:00,432.539722,170244,94414,227810.0,1,None,ETT Re-taped,None,...,2191-04-28 16:32:23,0,0,0,1,1,1,0,0,airway
2,200143.0,2191-04-12 04:00:00,396.539722,170244,94414,227810.0,1,None,ETT Re-taped,None,...,2191-04-28 16:32:23,0,0,0,1,1,1,0,0,airway
3,200143.0,2191-04-16 01:00:00,303.539722,170244,94414,227810.0,1,None,ETT Re-taped,None,...,2191-04-28 16:32:23,0,0,0,1,1,1,0,0,airway
4,200282.0,2164-05-06 13:20:00,288.465833,176395,77484,227810.0,1,None,ETT Re-taped,None,...,2164-05-18 13:47:57,0,0,0,1,0,0,0,1,airway
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283,299758.0,2200-05-30 15:00:00,27.801667,127088,68842,227810.0,1,None,ETT Re-taped,None,...,2200-05-31 18:48:06,1,1,1,1,0,0,0,1,airway
1284,299802.0,2154-09-08 21:00:00,50.448889,142122,63039,227810.0,1,None,ETT Re-taped,None,...,2154-09-10 23:26:56,1,1,0,1,0,0,0,1,airway
1285,299853.0,2101-01-16 20:00:00,39.010000,179082,95830,227810.0,1,None,ETT Re-taped,None,...,2101-01-18 11:00:36,1,1,1,1,0,0,0,1,airway
1286,299956.0,2177-06-12 00:18:00,325.800278,108958,58128,227810.0,1,None,ETT Re-taped,None,...,2177-06-25 14:06:01,0,0,0,1,0,0,0,1,airway
1287,299998.0,2181-07-05 23:21:00,42.060556,158288,69587,227810.0,1,None,ETT Re-taped,None,...,2181-07-07 17:24:38,1,1,1,0,0,0,1,0,airway

In [38]:
airway_reduced = g4

In [39]:
airway_reduced['C.VALUENUM'] = airway_reduced['C.ICUSTAY_ID'].apply(lambda x: 1.0)

Remove all PEEP and AIRWAY:
移除所有PEEP和气道:

In [40]:
# all_data = all_data.filter_by(column_name='C.ITEMID', values=variable_mapping['peep'], exclude=True)
all_data=all_data[~all_data['C.ITEMID'].isin(variable_mapping['peep'])]
# all_data = all_data.filter_by(column_name='C.ITEMID', values=variable_mapping['airway'], exclude=True)
all_data=all_data[~all_data['C.ITEMID'].isin(variable_mapping['airway'])]

In [41]:
airway_reduced['C.VALUENUM'] = airway_reduced['C.VALUENUM'].apply(lambda x: 1.0)

Add reduced airway variable back in and save this 'clean' version of the data:
添加减少气道变量，并保存此“干净”版本的数据:

In [42]:
all_data = all_data.append(airway_reduced)
# all_data.save('mimic_all_data_CLEANED')
all_data.to_pickle('mimic_all_data_CLEANED')

We now extract the CALLOUT times (RFD flags) for each icustay and add these to the data:
For each ICUSTAY want to get the corresponding successful CALLOUTs (only those with outcomes marked as 'Discharged').
There are a small number of stays with mutliple succesful discharges,
we remove these instances from the data to avoid confusion
(they correspond the patients being transfered between different ICUs).
我们现在提取每个icustay的CALLOUT时间(RFD标志)，并将这些添加到数据中:
对于每个ICUSTAY都想要得到相应的成功CALLOUTs(只有那些结果标记为“出院”)。
有少量住院患者多次成功出院，我们将这些病例从数据中删除，以避免混淆(它们对应的是在不同icu间转移的患者)。

In [43]:
%load_ext sql
%sql mysql://root:112928@localhost/mimic
%sql use mimic

 * mysql://root:***@localhost/mimic
0 rows affected.

[]

In [44]:
callouts = %sql SELECT * FROM CALLOUT
callouts = callouts.DataFrame()

 * mysql://root:***@localhost/mimic
34499 rows affected.

In [45]:
_stays = all_data.groupby(by='C.ICUSTAY_ID',as_index=False)

In [46]:
_stays = _stays.agg(
    HADM_ID=('C.HADM_ID',np.random.choice),
    IN=('II.INTIME',np.random.choice),
    OUT=('II.OUTTIME',np.random.choice)
)

#           拼接前需要保证共有字段的数据类型相同才能merge

In [47]:
#           拼接前需要保证共有字段的数据类型相同
#           拼接前需要保证共有字段的数据类型相同
#           拼接前需要保证共有字段的数据类型相同
_stays['HADM_ID'] = _stays['HADM_ID'].astype(int)
#
# _stays_join = _stays.join(callouts, how='inner', on='HADM_ID')
_stays_join1=pd.merge(_stays, callouts, how='inner', on='HADM_ID')

In [48]:
_stays_join =_stays_join1

In [49]:
_stays_join['RFD'] = _stays_join['CREATETIME'].apply(lambda ti: ti.replace(tzinfo=None))
_stays_join['callout_match'] = _stays_join.apply(lambda row: 1 if (row['RFD']>=row['IN'] and row['RFD']<=row['OUT']) else 0 ,axis=1)

In [50]:
counts = _stays_join[(_stays_join['callout_match']==1) * (_stays_join['CALLOUT_OUTCOME']=='Discharged')]

In [51]:
counts=counts.groupby(by='C.ICUSTAY_ID')

In [52]:
counts = counts.agg(
    count=('RFD','count')
)
print ("There are %d stays with more than one successful CALLOUT (i.e. transfers)." %sum(counts['count']>1))

There are 79 stays with more than one successful CALLOUT (i.e. transfers).

Remove these stays:
移除这些stays

In [53]:
# remove_stays = counts[counts['count']>1]['C.ICUSTAY_ID']
remove_stays = list(counts[counts['count']>1].index)
_stays_join = _stays_join[(_stays_join['callout_match']==1) * (_stays_join['CALLOUT_OUTCOME']=='Discharged')]
# _stays_join = _stays_join.filter_by(column_name='C.ICUSTAY_ID', values=remove_stays, exclude=True)
_stays_join = _stays_join[~_stays_join['C.ICUSTAY_ID'].isin(remove_stays)]
# _stays_join

In [54]:
# counts[counts['count']>1]
# list(counts[counts['count']>1].index)

In [55]:
#原来的重症监护室       (Of the original %d icu stays)
#保持(有成功的单个callouts     (%d remain (have successful single callouts))
print( "Of the original %d icu stays," %len(all_data['C.ICUSTAY_ID'].unique()))
print( "%d remain (have successful single callouts)" %len(_stays_join['C.ICUSTAY_ID'].unique()))

Of the original 5187 icu stays,
4071 remain (have successful single callouts)

Note: successful discharge here is different to "positive outcome" follwoing discharge.
Successful simply means the patient did actually leave the icu (i.e. the callout was acted upon)
注:此处成功出院与出院后的“阳性结果”是不同的。
成功仅仅意味着病人确实离开了重症监护室(也就是说，呼诊被执行了)

We now join the CALLOUTS (RFD flags) to the original data:
现在我们将CALLOUTS (RFD标志)加入到原始数据中:

In [56]:
_stays_join = _stays_join[['C.ICUSTAY_ID', 'RFD']]
# all_data = all_data.join(_stays_join, how='inner', on='C.ICUSTAY_ID')
all_data = pd.merge(all_data,_stays_join, how='inner', on='C.ICUSTAY_ID')

In [57]:
all_data

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,...,final_72hr,cohort,in_h_death,in_icu_death,readmit,outcome,akf,VARIABLE,C.ITEMID,RFD
0,109,147469,253139.0,223761.0,2141-06-11 12:13:00,98.8,37.111111,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,1,1,0,0,0,1,1.0,temp,NaN,2141-06-14 18:57:38
1,109,147469,253139.0,223761.0,2141-06-11 16:00:00,98.8,37.111111,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,1,1,0,0,0,1,1.0,temp,NaN,2141-06-14 18:57:38
2,109,147469,253139.0,223761.0,2141-06-11 20:00:00,98,36.666667,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,1,1,0,0,0,1,1.0,temp,NaN,2141-06-14 18:57:38
3,109,147469,253139.0,223761.0,2141-06-12 00:00:00,97,36.111111,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,1,1,0,0,0,1,1.0,temp,NaN,2141-06-14 18:57:38
4,109,147469,253139.0,223761.0,2141-06-12 04:00:00,96.4,35.777778,?F,2141-06-11 10:17:54,2141-06-15 15:11:37,...,1,1,0,0,0,1,1.0,temp,NaN,2141-06-14 18:57:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2070364,88904,185537,294552.0,225690.0,2188-08-07 02:11:00,.6,0.600000,mg/dL,2188-08-05 19:37:07,2188-08-07 20:10:55,...,1,1,0,0,0,1,1.0,TBIL,NaN,2188-08-07 14:28:32
2070365,88904,185537,294552.0,225643.0,2188-08-06 02:12:00,93,93.000000,%,2188-08-05 19:37:07,2188-08-07 20:10:55,...,1,1,0,0,0,1,1.0,NEUT,NaN,2188-08-07 14:28:32
2070366,88904,185537,294552.0,227464.0,2188-08-05 21:20:00,4.1,4.100000,mEq/L,2188-08-05 19:37:07,2188-08-07 20:10:55,...,1,1,0,0,0,1,1.0,k,NaN,2188-08-07 14:28:32
2070367,88904,185537,294552.0,226534.0,2188-08-05 21:20:00,146,146.000000,mEq/L,2188-08-05 19:37:07,2188-08-07 20:10:55,...,1,1,0,0,0,1,1.0,na,NaN,2188-08-07 14:28:32
2070368,88904,185537,294552.0,226537.0,2188-08-05 21:20:00,83,83.000000,mg/dL,2188-08-05 19:37:07,2188-08-07 20:10:55,...,1,1,0,0,0,1,1.0,GLU,NaN,2188-08-07 14:28:32

We now add a column 'hrs_bRFD':
This is similar to the column 'hrs_bd' which we added previoulsy.
We will filter on this column later to construct the feature matrix.
我们现在添加一个列'hrs_bRFD':
这类似于我们之前添加的列'hrs_bd'。稍后我们将对这一列进行过滤，以构造特征矩阵。

In [58]:
all_data['hrs_bRFD'] = all_data.apply(lambda row: (row['RFD'] - row['C.CHARTTIME']).total_seconds() / float(60**2) ,axis=1)
all_data.to_pickle('mimic_all_data_CLEANED')

In [59]:
all_data.to_pickle('mimic_all_data_CLEANED1')