In [1]:
import numpy as np
import pandas as pd
import pickle
from collections import OrderedDict
import sqlalchemy
import psycopg2

In [2]:
# !pip install mysqlclient

In [2]:
import MySQLdb

In [4]:
# import pymysql

In [5]:
# 如果 mysqlclient 没有安装成功，可以用PyMySQL替代 pip install PyMySQL
# import PyMySQL
# %sql mysql://root:112928@localhost/mimic 改为 %sql mysql+pymysql://root:112928@localhost/mimic

In [3]:
%load_ext sql
%sql mysql://root:112928@localhost/mimic
%sql use mimic

 * mysql://root:***@localhost/mimic
0 rows affected.

[]

In [7]:
# %load_ext sql
# %sql mysql+pymysql://root:112928@localhost/mimic
# %sql use mimic

定位所需的数据。
需要一些不同的变量来评估护士引导出院(NLD)标准。在这里，我们找到与这些变量对应的itemid，这些itemid将用于从charteevents中提取患者数据。
为了简单起见，我们只关注(dbsource=)'Metavision'，因为'Carevue'中的数据存储不太连贯。由于本研究与英国的普通重症监护病房(GICU)相比，我们只选取(第一护理病房=)“MICU”或“SICU”的患者，因为该患者子集近似对应于GICU人群。
所需的变量是:
为了定位这些变量，我们按照以下步骤进行:
我们定义这些搜索词:
使用下面的查询(用上面的替换每个变量的搜索条件)，搜索ITEMIDS的LABELS匹配搜索条件:

[227456,220644,220587,220546 ,226779,226780,227062,227063,225170 , 227457,225643,225690,220615, 226752, 227005,225624,227000,227001,220228,227466,
 227465,227467,225170, 227457,220235,226062,226063,227036,226770,227039,227516,220224,223762,220210, 224688, 224689, 224690,220045,228388,220621, 226537,227015,227016,227469,226851,226853,220245,220602,220955,220645, 226534, 226776]

In [8]:
# %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%fraction%' OR LABEL LIKE '%fio2%') AND DBSOURCE='metavision'
# 白蛋白血清（ALB）、[227456]
ALB= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Albumin%' OR LABEL LIKE '%ALB%') AND DBSOURCE='metavision'
# 丙氨酸氨基转移酶（ALT）[220644]
ALT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE 'Alanine'  OR LABEL LIKE '%ALT%') AND DBSOURCE='metavision'
# 天冬氨酸氨基转移酶（AST）[220587]
AST= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE 'Aspartate' OR LABEL LIKE '%Aspartic%' OR LABEL LIKE '%AST%') AND DBSOURCE='metavision'
# 白细胞（WBC）、[220546 ,226779,226780,227062,227063],
WBC= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%WBC%') AND DBSOURCE='metavision'
# 血小板计数（PLT）、[225170 , 227457]
PLT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Platelet%'  OR LABEL LIKE '%PLT%' OR LABEL LIKE '%BPC%' ) AND DBSOURCE='metavision'
# 中性粒细胞（NEUT）、[225643]
NEUT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Neutrophil%'  OR LABEL LIKE '%NEUT%') AND DBSOURCE='metavision'

# # 淋巴细胞（LY）、[没找到合适的]
# LY= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Lymphocyte%'  OR LABEL LIKE '%LY%' ) AND DBSOURCE='metavision'

# 血清总胆红素（TBIL）、[225690]
TBIL= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%total%' OR LABEL LIKE '%TBIL%' OR LABEL LIKE '%TBLL%' OR LABEL LIKE '%STB%') AND DBSOURCE='metavision'
# # 血清肌酐（SCr）、肌酸酐 Creatinine [220615]  ['creatinine'] = [220615, 226752, 227005],,/
SCr= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Serum%' OR LABEL LIKE '%Creatinine%' OR LABEL LIKE '%SCr%') AND DBSOURCE='metavision'
# 血尿素氮（BUN）、[225624,227000,227001]
BUN= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%BUN%') AND DBSOURCE='metavision'

# # 红细胞（RBC）、
# RBC= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%RBC%' OR LABEL LIKE '%erythrocyte%' ) AND DBSOURCE='metavision'

# 血红蛋白（HBG）、[220228]  ['haemoglobin'] = [220228]
HGB= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Hemoglobin%'  OR LABEL LIKE '%HGB%') AND DBSOURCE='metavision'
# # 血细胞比容（HCT）、
# HCT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Haematocrit%'  OR LABEL LIKE '%HCT%') AND DBSOURCE='metavision'

# 部分凝血活酶时间（PTT）、[227466]
PTT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%PTT%') AND DBSOURCE='metavision'
# 凝血酶原时间（PT）、 [227465]
PT= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Prothrombin%'  OR LABEL LIKE '%PT%') AND DBSOURCE='metavision'
# 国际标准化比值 （INR）、[227467]
INR= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%international%'  OR LABEL LIKE '%INR%') AND DBSOURCE='metavision'

# # 中性粒细胞/淋巴细胞比值 （NLR）、
# NLR= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%neutrophil%'  OR LABEL LIKE '%NLR%') AND DBSOURCE='metavision'

# 血小板（PLR）Platelets、[225170 227457]
PLR= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Platelet%'  OR LABEL LIKE '%PLR%') AND DBSOURCE='metavision'
# PCO2、[227036]   ['pco2'] = [220235,226062,226063,227036] ,/
PCO2= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%PaCO2%'  OR LABEL LIKE '%PCO2%') AND DBSOURCE='metavision'
# PO2、[227516,227039,226770] ['po2'] = [226770,227039,227516,220224] ,/
PO2= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%PO2%') AND DBSOURCE='metavision'
# 体温、[223762]
T= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%temperature%' OR LABEL LIKE '%T%') AND DBSOURCE='metavision'
# 呼吸速率RR、[220210,226773,226774,227050,227051,224690,224689] ['resp'] = [220210, 224688, 224689, 224690],/
RR= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Breathe %' OR LABEL LIKE '%Respiration%' OR LABEL LIKE 'RR%'OR LABEL LIKE 'Respiratory%') AND DBSOURCE='metavision'

# # 平均血压 （MEANBP）、
# MEANBP= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%mean blood pressure %' OR LABEL LIKE '%blood%' OR LABEL LIKE 'MBP%') AND DBSOURCE='metavision'

# 心率、[220045,226763,226764,227018,227019] [220045],/
HR= %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%heart%' OR LABEL LIKE '%HR%') AND DBSOURCE='metavision'
# 葡萄糖GLU、[228388,220621, 226537,227015,227016,]
GLU = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Glucose%' OR LABEL LIKE '%GLU%') AND DBSOURCE='metavision'
# 凝血酶THR， [227469]
THR = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Thrombus %' OR LABEL LIKE '%thrombi%') AND DBSOURCE='metavision'
# 舒张压 （DIASBP），[226851,226853]
DIASBP = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%diastolic pressure%' OR LABEL LIKE '%DIASBP%' OR LABEL LIKE 'DP%'OR LABEL LIKE 'DBP%') AND DBSOURCE='metavision'
# CO2，[220245]
CO2 = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%carbon dioxide %' OR LABEL LIKE '%CO2%') AND DBSOURCE='metavision'
# 氯化物（CL），[220602,]
CL = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%chlorid%' OR LABEL LIKE '%CL%') AND DBSOURCE='metavision'

# 乳酸，Ringers Lactate,[220955]
LA = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Lactate%') AND DBSOURCE='metavision'

# 钠 Sodium ，[220645,226775,226776,227052,227053,228389,228390]  [220645, 226534, 226776],/
Na = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Natrium%' OR LABEL LIKE '%Na%' OR LABEL LIKE '%Sodium%') AND DBSOURCE='metavision'

# # 浆细胞，
# Plasmocyte  = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%Plasmocyte%' OR LABEL LIKE '%myeloma%' OR LABEL LIKE '%phlogocyte%') AND DBSOURCE='metavision'

# # 机械通气（MV），
# MV = %sql SELECT * FROM D_ITEMS WHERE (LABEL LIKE '%mechanical ventilation%' OR LABEL LIKE '%MV%') AND DBSOURCE='metavision'

 * mysql://root:***@localhost/mimic
8 rows affected.
 * mysql://root:***@localhost/mimic
10 rows affected.
 * mysql://root:***@localhost/mimic
38 rows affected.
 * mysql://root:***@localhost/mimic
5 rows affected.
 * mysql://root:***@localhost/mimic
5 rows affected.
 * mysql://root:***@localhost/mimic
1 rows affected.
 * mysql://root:***@localhost/mimic
11 rows affected.
 * mysql://root:***@localhost/mimic
19 rows affected.
 * mysql://root:***@localhost/mimic
3 rows affected.
 * mysql://root:***@localhost/mimic
1 rows affected.
 * mysql://root:***@localhost/mimic
2 rows affected.
 * mysql://root:***@localhost/mimic
76 rows affected.
 * mysql://root:***@localhost/mimic
2 rows affected.
 * mysql://root:***@localhost/mimic
5 rows affected.
 * mysql://root:***@localhost/mimic
2 rows affected.
 * mysql://root:***@localhost/mimic
4 rows affected.
 * mysql://root:***@localhost/mimic
2176 rows affected.
 * mysql://root:***@localhost/mimic
14 rows affected.
 * mysql://root:***@localhost/mimic
87 rows affected.
 * mysql://root:***@localhost/mimic
17 rows affected.
 * mysql://root:***@localhost/mimic
4 rows affected.
 * mysql://root:***@localhost/mimic
2 rows affected.
 * mysql://root:***@localhost/mimic
9 rows affected.
 * mysql://root:***@localhost/mimic
150 rows affected.
 * mysql://root:***@localhost/mimic
4 rows affected.
 * mysql://root:***@localhost/mimic
175 rows affected.

In [9]:
WBC

[(12686, 220546, 'WBC', 'WBC', 'metavision', 'chartevents', 'Labs', 'None', 'Numeric', None),
 (14540, 226779, 'WbcApacheIIScore', 'WbcApacheIIScore', 'metavision', 'chartevents', 'Scores - APACHE II', 'None', 'Numeric', None),
 (14541, 226780, 'WBCApacheIIValue', 'WBCApacheIIValue', 'metavision', 'chartevents', 'Scores - APACHE II', 'None', 'Numeric', None),
 (14738, 227062, 'WBC_ApacheIV', 'WBC_ApacheIV', 'metavision', 'chartevents', 'Scores - APACHE IV (2)', 'None', 'Numeric', None),
 (14739, 227063, 'WBCScore_ApacheIV', 'WBCScore_ApacheIV', 'metavision', 'chartevents', 'Scores - APACHE IV (2)', 'None', 'Numeric', None)]

对于每个变量，我们可视地检查搜索输出，并选择相关的ITEMS。
然后我们测量数据的随机子集上候选变量的近似频率(即多少icustay有每个ITEMID的至少一个记录)…

In [10]:
sub_limit = 100  ## subset size: number of ICUSTAYS randomly selected   子集大小:随机选择的icustay数量

In [11]:
# 具有 DISTINCT 子句的 SQL COUNT（） 函数消除了相同数据的重复外观。DISTINCT 在给定的选择语句中只能出现一次。获取具有指定条件的唯一行数 
%sql SELECT D.ITEMID, D.LABEL, COUNT(DISTINCT(II.ICUSTAY_ID)) AS STAY_COUNT, (COUNT(DISTINCT(II.ICUSTAY_ID))/(:sub_limit)) AS FREQ \
FROM CHARTEVENTS C \
INNER JOIN ( \
    SELECT * FROM ( \
        SELECT * \
        FROM ICUSTAYS I \
        WHERE I.DBSOURCE='metavision' AND (I.FIRST_CAREUNIT='MICU' or I.FIRST_CAREUNIT='SICU') \
        ORDER BY RAND() \
        LIMIT :sub_limit) AS II_sub \
    ORDER BY II_sub.SUBJECT_ID, II_sub.HADM_ID, II_sub.ICUSTAY_ID \
            ) AS II \
ON (C.SUBJECT_ID=II.SUBJECT_ID \
    AND C.HADM_ID=II.HADM_ID \
    AND C.ICUSTAY_ID=II.ICUSTAY_ID) \
INNER JOIN D_ITEMS D \
ON C.ITEMID=D.ITEMID \
WHERE D.ITEMID IN (227456) \
GROUP BY D.ITEMID

 * mysql://root:***@localhost/mimic
1 rows affected.

[(227456, 'Albumin', 47, Decimal('0.4700'))]

In [17]:
%sql SELECT * FROM mimic.CHARTEVENTS WHERE ITEMID=227456 LIMIT 5

 * mysql://root:***@localhost/mimic
5 rows affected.

[(1086, 36, 165660, 241249, 227456, datetime.datetime(2134, 5, 13, 5, 10), datetime.datetime(2134, 5, 13, 6, 53), 20889, '2.8', Decimal('2.8000000000'), 'g/dL', 1, 0, None, None),
 (1393, 36, 165660, 241249, 227456, datetime.datetime(2134, 5, 14, 3, 20), datetime.datetime(2134, 5, 14, 4, 8), 20889, '2.7', Decimal('2.7000000000'), 'g/dL', 1, 0, None, None),
 (2695, 107, 174162, 264253, 227456, datetime.datetime(2122, 5, 14, 21, 48), datetime.datetime(2122, 5, 14, 22, 37), 20889, '3', Decimal('3.0000000000'), 'g/dL', 1, 0, None, None),
 (3224, 109, 170149, 266497, 227456, datetime.datetime(2141, 5, 25, 12, 28), datetime.datetime(2141, 5, 25, 18, 9), 20889, '4.1', Decimal('4.1000000000'), 'g/dL', 0, 0, None, None),
 (4974, 109, 172335, 262652, 227456, datetime.datetime(2141, 9, 20, 21, 34), datetime.datetime(2141, 9, 20, 22, 34), 20889, '3.9', Decimal('3.9000000000'), 'g/dL', 0, 0, None, None)]

通过上述过程，我们识别出以下对应于所需变量的ITEMIDS:
一些ITEMIDS可能不经常在数据库中使用——我们选择它们是为了完整性。
排尿量可能位于charteevents或outputeevents(我们都检查)。
作为单一列表，这是(220739,223900,223901，....， 228151)for CHARTEVENTS。
和(226566,226627,226631)为OUTPUTEVENTS(只输出尿液)。

提取的数据
找到相关itemid后，我们现在:
从icustay的更大的随机样本中计算它们的使用频率
定义截止频率
提取并保存其余变量的所有测量值

In [13]:
sub_limit=1000  ## size of random sample

与前面一样，我们计算有多少icustay对每个ITEM至少有一个测量，并将其转换为出现频率(FREQ)。
这一次，我们同时计算所有itemid，并按照出现频率升序对结果进行排序。CHARTEVENTS:

In [14]:
%sql SELECT D.ITEMID, D.LABEL, COUNT(DISTINCT(II.ICUSTAY_ID)) AS STAY_COUNT, (COUNT(DISTINCT(II.ICUSTAY_ID))/(:sub_limit)) AS FREQ \
FROM CHARTEVENTS C \
INNER JOIN ( \
    SELECT * FROM ( \
        SELECT * \
        FROM ICUSTAYS I \
        WHERE I.DBSOURCE='metavision' AND (I.FIRST_CAREUNIT='MICU' or I.FIRST_CAREUNIT='SICU') \
        ORDER BY RAND() \
        LIMIT :sub_limit) AS II_sub \
    ORDER BY II_sub.SUBJECT_ID, II_sub.HADM_ID, II_sub.ICUSTAY_ID \
            ) AS II \
ON (C.SUBJECT_ID=II.SUBJECT_ID \
    AND C.HADM_ID=II.HADM_ID \
    AND C.ICUSTAY_ID=II.ICUSTAY_ID) \
INNER JOIN D_ITEMS D \
ON C.ITEMID=D.ITEMID \
WHERE D.ITEMID IN (227456,220644,220587,220546 ,226779,226780,227062,227063,225170 , 227457,225643,225690,220615,\
                   226752, 227005,225624,227000,227001,220228,227466,\
                227465,227467,225170,227457,220235,226062,226063,227036,226770,\
                   227039,227516,220224,223762,220210, 224688,\
                   224689, 224690,220045,228388,220621,\
                   226537,227015,227016,227469,226851,226853,220245,220602,220955,220645, 226534, 226776) \
GROUP BY D.ITEMID \
ORDER BY FREQ

 * mysql://root:***@localhost/mimic
34 rows affected.

[(226752, 'CreatinineApacheIIValue', 1, Decimal('0.0010')),
 (226776, 'SodiumApacheIIValue', 1, Decimal('0.0010')),
 (226779, 'WbcApacheIIScore', 1, Decimal('0.0010')),
 (226780, 'WBCApacheIIValue', 1, Decimal('0.0010')),
 (227469, 'Thrombin', 5, Decimal('0.0050')),
 (223762, 'Temperature Celsius', 40, Decimal('0.0400')),
 (227516, 'PO2 (Mixed Venous)', 59, Decimal('0.0590')),
 (226062, 'Venous CO2 Pressure', 116, Decimal('0.1160')),
 (226063, 'Venous O2 Pressure', 116, Decimal('0.1160')),
 (226534, 'Sodium (whole blood)', 116, Decimal('0.1160')),
 (226537, 'Glucose (whole blood)', 176, Decimal('0.1760')),
 (224688, 'Respiratory Rate (Set)', 307, Decimal('0.3070')),
 (224690, 'Respiratory Rate (Total)', 329, Decimal('0.3290')),
 (224689, 'Respiratory Rate (spontaneous)', 336, Decimal('0.3360')),
 (220224, 'Arterial O2 pressure', 428, Decimal('0.4280')),
 (220235, 'Arterial CO2 Pressure', 428, Decimal('0.4280')),
 (227456, 'Albumin', 445, Decimal('0.4450')),
 (225643, 'Differential-Neuts', 487, Decimal('0.4870')),
 (220587, 'AST', 542, Decimal('0.5420')),
 (220644, 'ALT', 543, Decimal('0.5430')),
 (225690, 'Total Bilirubin', 552, Decimal('0.5520')),
 (227466, 'PTT', 802, Decimal('0.8020')),
 (227467, 'INR', 809, Decimal('0.8090')),
 (227465, 'Prothrombin time', 809, Decimal('0.8090')),
 (220228, 'Hemoglobin', 963, Decimal('0.9630')),
 (227457, 'Platelet Count', 963, Decimal('0.9630')),
 (220546, 'WBC', 964, Decimal('0.9640')),
 (220602, 'Chloride (serum)', 969, Decimal('0.9690')),
 (220615, 'Creatinine', 969, Decimal('0.9690')),
 (225624, 'BUN', 969, Decimal('0.9690')),
 (220621, 'Glucose (serum)', 969, Decimal('0.9690')),
 (220645, 'Sodium (serum)', 969, Decimal('0.9690')),
 (220045, 'Heart Rate', 982, Decimal('0.9820')),
 (220210, 'Respiratory Rate', 982, Decimal('0.9820'))]

freqs=%sql SELECT D.ITEMID, D.LABEL, COUNT(DISTINCT(II.ICUSTAY_ID)) AS STAY_COUNT, (COUNT(DISTINCT(II.ICUSTAY_ID))/(:sub_limit)) AS FREQ \
FROM CHARTEVENTS C \
INNER JOIN ( \
    SELECT * FROM ( \
        SELECT * \
        FROM ICUSTAYS I \
        WHERE I.DBSOURCE='metavision' AND (I.FIRST_CAREUNIT='MICU' or I.FIRST_CAREUNIT='SICU') \
        ORDER BY RAND() \
        LIMIT :sub_limit) AS II_sub \
    ORDER BY II_sub.SUBJECT_ID, II_sub.HADM_ID, II_sub.ICUSTAY_ID \
            ) AS II \
ON (C.SUBJECT_ID=II.SUBJECT_ID \
    AND C.HADM_ID=II.HADM_ID \
    AND C.ICUSTAY_ID=II.ICUSTAY_ID) \
INNER JOIN D_ITEMS D \
ON C.ITEMID=D.ITEMID \
WHERE D.ITEMID IN (227456,220644,220587,220546 ,226779,226780,227062,227063,225170 , 227457,225643,225690,220615,\
                   226752, 227005,225624,227000,227001,220228,227466,\
                227465,227467,225170,227457,220235,226062,226063,227036,226770,\
                   227039,227516,220224,223762,220210, 224688,\
                   224689, 224690,220045,228388,220621,\
                   226537,227015,227016,227469,226851,226853,220245,220602,220955,220645, 226534, 226776) \
GROUP BY D.ITEMID \
ORDER BY FREQ

In [15]:
freqs=%sql SELECT D.ITEMID, D.LABEL, COUNT(DISTINCT(II.ICUSTAY_ID)) AS STAY_COUNT, (COUNT(DISTINCT(II.ICUSTAY_ID))/(:sub_limit)) AS FREQ \
FROM CHARTEVENTS C \
INNER JOIN ( \
    SELECT * FROM ( \
        SELECT * \
        FROM ICUSTAYS I \
        WHERE I.DBSOURCE='metavision' AND (I.FIRST_CAREUNIT='MICU' or I.FIRST_CAREUNIT='SICU') \
        ORDER BY RAND() \
        LIMIT :sub_limit) AS II_sub \
    ORDER BY II_sub.SUBJECT_ID, II_sub.HADM_ID, II_sub.ICUSTAY_ID \
            ) AS II \
ON (C.SUBJECT_ID=II.SUBJECT_ID \
    AND C.HADM_ID=II.HADM_ID \
    AND C.ICUSTAY_ID=II.ICUSTAY_ID) \
INNER JOIN D_ITEMS D \
ON C.ITEMID=D.ITEMID \
WHERE D.ITEMID IN (226754, 227009, 227010,223835,220210, 224688, 224689, 224690,226770,227039,220224,227516,220235,227036,226063,226062,223761, 223762, 224027,220045,220050, 220059, 220179, 224167, 225309, 227243, 226850, 226852,220640, 227464, 227442, 226772, 226535,220645, 226534, 226776,224826, 226759, 227443,220227, 220277, 226860,226861,226862,226863,226865,228232,225624, 227000, 227001,223838, 224832, 224391, 227810,223837, 224829,220739, 223900, 223901, 226755, 226756, 226757, 226758, 227011, 227012, 227013, 227014,228112,220615, 226752, 227005,223791, 227881,227519, 227059,220228,220339, 224699, 224700,227456,220644,220546 ,226779,226780,227062,227063,225170 , 227457,225643,225690,227466,227465,227467,228388,220621, 226537,227015,227016,227469,226851,226853,220245,220602,220955) \
GROUP BY D.ITEMID \
ORDER BY FREQ

 * mysql://root:***@localhost/mimic
69 rows affected.

In [16]:
#中断

NameError: name '中断' is not defined

In [ ]:
freqs=freqs.DataFrame()
rows = freqs.iloc[0:4]
print(rows)
ITEMIDS = freqs[freqs['FREQ']>=0.01]['ITEMID']  ## cutoff = 0.01  切掉
# print(ITEMIDS)
ITEMIDS_TOREMOVE = freqs[freqs['FREQ']<0.01]['ITEMID']  ## remove these from variable mapping #从变量映射中删除这些参数
# print(ITEMIDS_TOREMOVE)

In [ ]:
print( "There are %d infrequent ITEMS to remove from the variable mapping." %len(ITEMIDS_TOREMOVE))

variable_mapping = dict()

# # 白蛋白血清（ALB）、[227456]
variable_mapping['ALB'] = [227456]
# 丙氨酸氨基转移酶（ALT）[220644]
variable_mapping['ALT'] = [220644]
# 天冬氨酸氨基转移酶（AST）[220587]
variable_mapping['AST'] = [226770,227039,227516,220224]  ## 227516 is venous - excluded in subsequent script.在以后的脚本中不包括。
# 白细胞（WBC）、[220546 ,226779,226780,227062,227063],
variable_mapping['WBC'] = [220546 ,226779,226780,227062,227063]  ## 226062,226063 are venous - excluded in subsequent script.
# 血小板计数（PLT）、[225170 , 227457]
variable_mapping['PLT'] = [225170 , 227457]
# 中性粒细胞（NEUT）、[225643]
variable_mapping['NEUT'] = [225643]
# 血清总胆红素（TBIL）、[225690]
variable_mapping['TBIL'] = [225690] ## 228151 is diastolic - excluded in subsequent script.
# # 血清肌酐（SCr）、肌酸酐 Creatinine [220615]  ['creatinine'] = [220615, 226752, 227005],,/
variable_mapping['SCr'] = [220615, 226752, 227005]
# 血红蛋白（HBG）、[220228]  ['haemoglobin'] = [220228]
variable_mapping['HBG'] = [220228]
# 部分凝血活酶时间（PTT）、[227466]
variable_mapping['PTT'] = [227466]
# 凝血酶原时间（PT）、 [227465]
variable_mapping['PT'] = [227465]
# 血尿素氮（BUN）、[225624,227000,227001]
variable_mapping['BUN'] = [225624, 227000, 227001]
# 国际标准化比值 （INR）、[227467]
variable_mapping['INR'] = [227467]
# 血小板（PLR）Platelets、[225170 ,227457]
variable_mapping['PLR'] = [225170,227457]
# PCO2、[227036]   ['pco2'] = [220235,226062,226063,227036] ,/
variable_mapping['PCO2'] = [220235,226062,226063,227036]
# PO2、[227516,227039,226770] ['po2'] = [226770,227039,227516,220224] ,/
variable_mapping['PO2'] = [226770,227039,227516,220224]
# 体温Tem、[223762]
variable_mapping['Tem'] = [223762]
# 呼吸速率RR、[220210,226773,226774,227050,227051,224690,224689] ['resp'] = [220210, 224688, 224689, 224690],/
variable_mapping['Resp'] = [220210, 224688, 224689, 224690]
# 心率、[220045,226763,226764,227018,227019] [220045],/
variable_mapping['HR'] = [220045]
# 葡萄糖 GLU、[228388,220621, 226537,227015,227016,]
variable_mapping['GLU'] = [228388,220621, 226537,227015,227016]
# 凝血酶 THR， [227469]
variable_mapping['THR'] = [227469]
# 舒张压 （DIASBP），[226851,226853]
variable_mapping['DIASBP'] = [226851,226853]
# CO2，[220245]
variable_mapping['CO2'] = [220245]
# 氯化物（CL），[220602,]
variable_mapping['CL'] = [220602]
# 乳酸，Ringers Lactate,[220955]
variable_mapping['Lac'] = [220955]
# 钠 Sodium , Na ，[220645,226775,226776,227052,227053,228389,228390]  [220645, 226534, 226776],/
variable_mapping['Na'] = [220645, 226534, 226776]



for var in variable_mapping:
        variable_mapping[var] = [itd for itd in variable_mapping[var] if itd not in ITEMIDS_TOREMOVE]

print (variable_mapping)

[226754, 227009, 227010,223835,220210, 224688, 224689, 224690,226770,227039,220224,227516,220235,227036,226063,226062,223761, 223762, 224027,220045,220050, 220059, 220179, 224167, 225309, 227243, 226850, 226852,220640, 227464, 227442, 226772, 226535,220645, 226534, 226776,224826, 226759, 227443,220227, 220277, 226860,226861,226862,226863,226865,228232,225624, 227000, 227001,223838, 224832, 224391, 227810,223837, 224829,220739, 223900, 223901, 226755, 226756, 226757, 226758, 227011, 227012, 227013, 227014,228112,220615, 226752, 227005,223791, 227881,227519, 227059,220228,220339, 224699, 224700,227456,220644,220546 ,226779,226780,227062,227063,225170 , 227457,225643,225690,227466,227465,227467,228388,220621, 226537,227015,227016,227469,226851,226853,220245,220602,220955]

In [ ]:
#变量映射
variable_mapping = dict()
variable_mapping['fio2'] = [226754, 227009, 227010,223835]
variable_mapping['resp'] = [220210, 224688, 224689, 224690]
variable_mapping['po2'] = [226770,227039,220224,227516]
variable_mapping['pco2'] = [220235,227036,226063,226062]
variable_mapping['temp'] = [223761, 223762, 224027]
variable_mapping['hr'] = [220045]
variable_mapping['bp'] = [220050, 220059, 220179, 224167, 225309, 227243, 226850, 226852]
variable_mapping['k'] = [220640, 227464, 227442, 226772, 226535]
variable_mapping['na'] = [220645, 226534, 226776]
variable_mapping['hco3'] = [224826, 226759, 227443]
variable_mapping['spo2'] = [220227, 220277, 226860,226861,226862,226863,226865,228232]
variable_mapping['bun'] = [225624, 227000, 227001]
variable_mapping['airway'] = [223838, 224832, 224391, 227810,223837, 224829]
variable_mapping['gcs'] = [220739, 223900, 223901, 226755, 226756, 226757, 226758, 227011, 227012, 227013, 227014,228112]
variable_mapping['creatinine'] = [220615, 226752, 227005]
variable_mapping['pain'] = [223791, 227881]
variable_mapping['urine'] = [227519, 227059]
variable_mapping['haemoglobin'] = [220228]
variable_mapping['peep'] = [220339, 224699, 224700]

variable_mapping['ALB'] = [227456]
variable_mapping['ALT'] = [220644]
# variable_mapping['AST'] = [226770,227039,227516,220224]             与上面po2相同
variable_mapping['WBC'] = [220546 ,226779,226780,227062,227063]  
variable_mapping['PLT'] = [225170 , 227457]
variable_mapping['NEUT'] = [225643]
variable_mapping['TBIL'] = [225690] 
# variable_mapping['SCr'] = [220615, 226752, 227005]                 与上面 creatinine 一样             肌酸酐
# variable_mapping['HBG'] = [220228]                                 与上面 haemoglobin   一样           血红蛋白
variable_mapping['PTT'] = [227466]
variable_mapping['PT'] = [227465]
variable_mapping['INR'] = [227467]
# variable_mapping['PLR'] = [225170,227457]                           与 PLR一样，                          血小板
variable_mapping['GLU'] = [228388,220621, 226537,227015,227016]
variable_mapping['THR'] = [227469]
variable_mapping['DIASBP'] = [226851,226853]
variable_mapping['CO2'] = [220245]
variable_mapping['CL'] = [220602]
variable_mapping['Lac'] = [220955]

In [ ]:
for var in variable_mapping:
        variable_mapping[var] = [itd for itd in variable_mapping[var] if itd not in ITEMIDS_TOREMOVE]

print (variable_mapping)

In [4]:
import MySQLdb
import MySQLdb.cursors
from contextlib import closing
import shutil

In [5]:
def sql_connect():
    db='MIMIC'
    user='root'
    password='112928'

    connection = MySQLdb.connect(host="localhost",
                     user=user,
                     passwd=password,
                     db=db,
                     unix_socket="/run/mysqld/mysqld.sock",
                     cursorclass = MySQLdb.cursors.SSCursor)  ## ensures correct behaviour for 'fetchone'确保'fetchone'的正确行为
    return connection

In [6]:
conn = sql_connect()
with closing(conn.cursor()) as cur:
    cur.execute('SELECT * FROM D_ITEMS WHERE LABEL LIKE "%urine%" AND DBSOURCE="metavision"')
    row = cur.fetchone()
    print(row)
conn.close()

(12710, 220799, 'ZSpecific Gravity (urine)', 'ZSpecific gravity (urine)', 'metavision', 'chartevents', 'Labs', 'None', 'Numeric', None)

In [7]:
p0 = %sql select DISTINCT ITEMID FROM aki_lab
p0

 * mysql://root:***@localhost/mimic
718 rows affected.

[(50868,),
 (50882,),
 (50902,),
 (50912,),
 (50931,),
 (50971,),
 (50983,),
 (51006,),
 (51137,),
 (51146,),
 (51200,),
 (51221,),
 (51222,),
 (51233,),
 (51244,),
 (51246,),
 (51248,),
 (51249,),
 (51250,),
 (51252,),
 (51254,),
 (51256,),
 (51265,),
 (51267,),
 (51277,),
 (51278,),
 (51279,),
 (51301,),
 (50862,),
 (50893,),
 (50960,),
 (50970,),
 (51237,),
 (51274,),
 (51275,),
 (51009,),
 (51463,),
 (51464,),
 (51466,),
 (51476,),
 (51478,),
 (51484,),
 (51486,),
 (51487,),
 (51491,),
 (51492,),
 (51493,),
 (51498,),
 (51506,),
 (51508,),
 (51514,),
 (51516,),
 (51519,),
 (50800,),
 (50802,),
 (50803,),
 (50804,),
 (50806,),
 (50808,),
 (50809,),
 (50810,),
 (50811,),
 (50812,),
 (50813,),
 (50817,),
 (50818,),
 (50820,),
 (50821,),
 (50822,),
 (50824,),
 (50826,),
 (50827,),
 (50828,),
 (50816,),
 (50825,),
 (50861,),
 (50878,),
 (50910,),
 (51482,),
 (51512,),
 (50911,),
 (51002,),
 (51143,),
 (51144,),
 (51251,),
 (51255,),
 (51268,),
 (50863,),
 (50867,),
 (50885,),
 (50956,),
 (51007,),
 (51214,),
 (50819,),
 (50801,),
 (50823,),
 (50908,),
 (50964,),
 (51151,),
 (51518,),
 (50979,),
 (51087,),
 (51093,),
 (50993,),
 (50994,),
 (51462,),
 (51505,),
 (51497,),
 (50903,),
 (50904,),
 (50905,),
 (50907,),
 (51000,),
 (50924,),
 (50952,),
 (50953,),
 (50998,),
 (50887,),
 (50933,),
 (51523,),
 (51266,),
 (50856,),
 (50879,),
 (50880,),
 (50922,),
 (50981,),
 (50999,),
 (51003,),
 (51288,),
 (51071,),
 (51074,),
 (51075,),
 (51079,),
 (51090,),
 (51092,),
 (50852,),
 (50967,),
 (51077,),
 (51078,),
 (51082,),
 (51097,),
 (51100,),
 (51104,),
 (50954,),
 (50886,),
 (50815,),
 (50883,),
 (50884,),
 (51199,),
 (51474,),
 (50935,),
 (50866,),
 (51257,),
 (50854,),
 (50855,),
 (51196,),
 (51103,),
 (50873,),
 (50920,),
 (50889,),
 (50995,),
 (50909,),
 (50963,),
 (50926,),
 (50946,),
 (50958,),
 (50940,),
 (50941,),
 (51260,),
 (51287,),
 (51296,),
 (51232,),
 (51283,),
 (51145,),
 (50942,),
 (50943,),
 (50864,),
 (50900,),
 (51014,),
 (51017,),
 (51018,),
 (51351,),
 (51355,),
 (51360,),
 (51362,),
 (51363,),
 (51213,),
 (51150,),
 (50944,),
 (50919,),
 (51069,),
 (51070,),
 (50917,),
 (50930,),
 (50976,),
 (50814,),
 (50805,),
 (50945,),
 (51502,),
 (51010,),
 (50950,),
 (51240,),
 (50962,),
 (50972,),
 (50965,),
 (50975,),
 (51098,),
 (51099,),
 (51102,),
 (50890,),
 (50891,),
 (51086,),
 (50974,),
 (50929,),
 (51218,),
 (50968,),
 (50969,),
 (51501,),
 (51116,),
 (51117,),
 (51118,),
 (51120,),
 (51125,),
 (51127,),
 (51128,),
 (51046,),
 (51047,),
 (51053,),
 (51054,),
 (51059,),
 (51446,),
 (51448,),
 (51450,),
 (51455,),
 (51457,),
 (51458,),
 (50913,),
 (51089,),
 (50949,),
 (50996,),
 (50927,),
 (50925,),
 (51111,),
 (50980,),
 (51269,),
 (50951,),
 (50877,),
 (50991,),
 (51338,),
 (51339,),
 (51342,),
 (51011,),
 (51015,),
 (51350,),
 (51198,),
 (51302,),
 (51234,),
 (51424,),
 (51216,),
 (50857,),
 (51469,),
 (51197,),
 (51262,),
 (51130,),
 (51131,),
 (51132,),
 (51133,),
 (51176,),
 (51180,),
 (51181,),
 (51194,),
 (51245,),
 (51300,),
 (51479,),
 (51292,),
 (51067,),
 (51068,),
 (51094,),
 (51108,),
 (51284,),
 (50957,),
 (50973,),
 (50948,),
 (51148,),
 (50938,),
 (51427,),
 (51431,),
 (51434,),
 (51436,),
 (51438,),
 (51439,),
 (51229,),
 (50906,),
 (50937,),
 (51241,),
 (51147,),
 (51001,),
 (50939,),
 (50899,),
 (51008,),
 (50986,),
 (51095,),
 (51076,),
 (50978,),
 (51503,),
 (50918,),
 (51375,),
 (51379,),
 (51382,),
 (51383,),
 (51384,),
 (50874,),
 (51243,),
 (51138,),
 (51139,),
 (51235,),
 (51297,),
 (51140,),
 (51270,),
 (51271,),
 (51273,),
 (51385,),
 (51428,),
 (50842,),
 (50849,),
 (51429,),
 (51123,),
 (50841,),
 (50851,),
 (50835,),
 (50843,),
 (51110,),
 (51352,),
 (50915,),
 (50989,),
 (50916,),
 (51444,),
 (50831,),
 (51049,),
 (51447,),
 (51453,),
 (50988,),
 (50992,),
 (50895,),
 (50896,),
 (51005,),
 (51025,),
 (51028,),
 (51034,),
 (51043,),
 (51085,),
 (51236,),
 (50871,),
 (51294,),
 (50921,),
 (51026,),
 (51035,),
 (51345,),
 (51347,),
 (51513,),
 (51388,),
 (51398,),
 (51399,),
 (51400,),
 (51402,),
 (51404,),
 (51411,),
 (51412,),
 (51416,),
 (51420,),
 (51423,),
 (51425,),
 (51426,),
 (51134,),
 (51343,),
 (50872,),
 (51259,),
 (51219,),
 (50876,),
 (50966,),
 (50990,),
 (51022,),
 (51024,),
 (51370,),
 (51372,),
 (51373,),
 (51374,),
 (51376,),
 (50997,),
 (51032,),
 (50836,),
 (51124,),
 (51357,),
 (51091,),
 (50955,),
 (51052,),
 (51442,),
 (51443,),
 (51461,),
 (51510,),
 (51276,),
 (50932,),
 (51152,),
 (51160,),
 (51164,),
 (51167,),
 (51168,),
 (51172,),
 (51183,),
 (51184,),
 (51192,),
 (51215,),
 (51230,),
 (51238,),
 (51239,),
 (51507,),
 (51231,),
 (51263,),
 (51386,),
 (51105,),
 (50850,),
 (51499,),
 (51224,),
 (51226,),
 (51227,),
 (51344,),
 (50838,),
 (51114,),
 (51494,),
 (50914,),
 (51460,),
 (51529,),
 (51381,),
 (51228,),
 (51088,),
 (51471,),
 (51419,),
 (50892,),
 (51440,),
 (51445,),
 (51408,),
 (51418,),
 (51303,),
 (51313,),
 (51315,),
 (51325,),
 (51333,),
 (51489,),
 (51264,),
 (51223,),
 (51422,),
 (51045,),
 (51205,),
 (51206,),
 (50844,),
 (51261,),
 (51359,),
 (51454,),
 (51211,),
 (51072,),
 (51073,),
 (50829,),
 (51312,),
 (51314,),
 (51317,),
 (51319,),
 (51323,),
 (51326,),
 (51332,),
 (51334,),
 (51335,),
 (51337,),
 (51340,),
 (51341,),
 (51289,),
 (51220,),
 (51397,),
 (51080,),
 (51081,),
 (51101,),
 (51106,),
 (51109,),
 (51209,),
 (51291,),
 (51406,),
 (51060,),
 (51115,),
 (51369,),
 (51441,),
 (51515,),
 (51122,),
 (51433,),
 (51358,),
 (51016,),
 (50881,),
 (51225,),
 (51050,),
 (51057,),
 (51058,),
 (51387,),
 (51063,),
 (51112,),
 (51272,),
 (50898,),
 (51051,),
 (51401,),
 (51391,),
 (51066,),
 (51280,),
 (51281,),
 (51298,),
 (51299,),
 (51353,),
 (51027,),
 (51056,),
 (51517,),
 (51470,),
 (50875,),
 (51038,),
 (51452,),
 (51135,),
 (51142,),
 (51195,),
 (51201,),
 (51286,),
 (51348,),
 (51520,),
 (51096,),
 (51187,),
 (51190,),
 (50845,),
 (51496,),
 (51465,),
 (51036,),
 (51044,),
 (51481,),
 (51293,),
 (51204,),
 (51392,),
 (51354,),
 (51031,),
 (51368,),
 (50837,),
 (50847,),
 (50848,),
 (51377,),
 (51021,),
 (50839,),
 (51149,),
 (51154,),
 (51155,),
 (51156,),
 (51158,),
 (51159,),
 (51177,),
 (51178,),
 (51182,),
 (51188,),
 (51191,),
 (51193,),
 (51217,),
 (51061,),
 (51062,),
 (51064,),
 (51065,),
 (50928,),
 (51030,),
 (51041,),
 (51042,),
 (51084,),
 (51451,),
 (51413,),
 (51415,),
 (51364,),
 (51029,),
 (51037,),
 (51040,),
 (51480,),
 (51203,),
 (51210,),
 (51393,),
 (51365,),
 (51367,),
 (50858,),
 (50859,),
 (51521,),
 (51208,),
 (50901,),
 (51290,),
 (51136,),
 (51305,),
 (51306,),
 (51307,),
 (51309,),
 (51310,),
 (51320,),
 (51321,),
 (51324,),
 (51328,),
 (51331,),
 (51336,),
 (51020,),
 (51500,),
 (50830,),
 (50832,),
 (51202,),
 (51247,),
 (51285,),
 (51318,),
 (51366,),
 (51039,),
 (51504,),
 (51161,),
 (50840,),
 (51430,),
 (50934,),
 (50846,),
 (51258,),
 (51378,),
 (51390,),
 (51394,),
 (51395,),
 (51405,),
 (51417,),
 (51421,),
 (51483,),
 (51495,),
 (51179,),
 (51023,),
 (51467,),
 (51346,),
 (51472,),
 (51473,),
 (51380,),
 (51449,),
 (51511,),
 (51253,),
 (51410,),
 (50977,),
 (51432,),
 (51459,),
 (51083,),
 (51468,),
 (51157,),
 (51113,),
 (50853,),
 (51490,),
 (51437,),
 (50860,),
 (50936,),
 (51004,),
 (51530,),
 (50870,),
 (51485,),
 (50894,),
 (50982,),
 (51212,),
 (51207,),
 (51242,),
 (51282,),
 (51189,),
 (50888,),
 (51526,),
 (51311,),
 (51349,),
 (50865,),
 (51048,),
 (51119,),
 (51121,),
 (51327,),
 (51330,),
 (50947,),
 (51488,),
 (51456,),
 (51435,),
 (51535,),
 (51536,),
 (51171,),
 (51533,),
 (51407,),
 (51304,),
 (50959,),
 (50961,),
 (51409,),
 (50833,),
 (51356,),
 (51361,),
 (51153,),
 (51173,),
 (51475,),
 (50834,),
 (51316,),
 (51322,),
 (51308,),
 (51012,),
 (50869,),
 (51055,),
 (51129,),
 (51396,),
 (51414,),
 (51537,),
 (51174,),
 (51175,),
 (51185,),
 (51186,),
 (51162,),
 (51163,),
 (51295,),
 (51329,),
 (51126,),
 (51019,),
 (51528,),
 (51389,),
 (51403,),
 (51165,),
 (51166,),
 (51169,),
 (51170,)]

In [27]:
t = pd.DataFrame(p0)
for i in t.values:
    print(int(i))

50868
50882
50902
50912
50931
50971
50983
51006
51137
51146
51200
51221
51222
51233
51244
51246
51248
51249
51250
51252
51254
51256
51265
51267
51277
51278
51279
51301
50862
50893
50960
50970
51237
51274
51275
51009
51463
51464
51466
51476
51478
51484
51486
51487
51491
51492
51493
51498
51506
51508
51514
51516
51519
50800
50802
50803
50804
50806
50808
50809
50810
50811
50812
50813
50817
50818
50820
50821
50822
50824
50826
50827
50828
50816
50825
50861
50878
50910
51482
51512
50911
51002
51143
51144
51251
51255
51268
50863
50867
50885
50956
51007
51214
50819
50801
50823
50908
50964
51151
51518
50979
51087
51093
50993
50994
51462
51505
51497
50903
50904
50905
50907
51000
50924
50952
50953
50998
50887
50933
51523
51266
50856
50879
50880
50922
50981
50999
51003
51288
51071
51074
51075
51079
51090
51092
50852
50967
51077
51078
51082
51097
51100
51104
50954
50886
50815
50883
50884
51199
51474
50935
50866
51257
50854
50855
51196
51103
50873
50920
50889
50995
50909
50963
50926
50946
50958
50940
50941
51260
51287
51296
51232
51283
51145
50942
50943
50864
50900
51014
51017
51018
51351
51355
51360
51362
51363
51213
51150
50944
50919
51069
51070
50917
50930
50976
50814
50805
50945
51502
51010
50950
51240
50962
50972
50965
50975
51098
51099
51102
50890
50891
51086
50974
50929
51218
50968
50969
51501
51116
51117
51118
51120
51125
51127
51128
51046
51047
51053
51054
51059
51446
51448
51450
51455
51457
51458
50913
51089
50949
50996
50927
50925
51111
50980
51269
50951
50877
50991
51338
51339
51342
51011
51015
51350
51198
51302
51234
51424
51216
50857
51469
51197
51262
51130
51131
51132
51133
51176
51180
51181
51194
51245
51300
51479
51292
51067
51068
51094
51108
51284
50957
50973
50948
51148
50938
51427
51431
51434
51436
51438
51439
51229
50906
50937
51241
51147
51001
50939
50899
51008
50986
51095
51076
50978
51503
50918
51375
51379
51382
51383
51384
50874
51243
51138
51139
51235
51297
51140
51270
51271
51273
51385
51428
50842
50849
51429
51123
50841
50851
50835
50843
51110
51352
50915
50989
50916
51444
50831
51049
51447
51453
50988
50992
50895
50896
51005
51025
51028
51034
51043
51085
51236
50871
51294
50921
51026
51035
51345
51347
51513
51388
51398
51399
51400
51402
51404
51411
51412
51416
51420
51423
51425
51426
51134
51343
50872
51259
51219
50876
50966
50990
51022
51024
51370
51372
51373
51374
51376
50997
51032
50836
51124
51357
51091
50955
51052
51442
51443
51461
51510
51276
50932
51152
51160
51164
51167
51168
51172
51183
51184
51192
51215
51230
51238
51239
51507
51231
51263
51386
51105
50850
51499
51224
51226
51227
51344
50838
51114
51494
50914
51460
51529
51381
51228
51088
51471
51419
50892
51440
51445
51408
51418
51303
51313
51315
51325
51333
51489
51264
51223
51422
51045
51205
51206
50844
51261
51359
51454
51211
51072
51073
50829
51312
51314
51317
51319
51323
51326
51332
51334
51335
51337
51340
51341
51289
51220
51397
51080
51081
51101
51106
51109
51209
51291
51406
51060
51115
51369
51441
51515
51122
51433
51358
51016
50881
51225
51050
51057
51058
51387
51063
51112
51272
50898
51051
51401
51391
51066
51280
51281
51298
51299
51353
51027
51056
51517
51470
50875
51038
51452
51135
51142
51195
51201
51286
51348
51520
51096
51187
51190
50845
51496
51465
51036
51044
51481
51293
51204
51392
51354
51031
51368
50837
50847
50848
51377
51021
50839
51149
51154
51155
51156
51158
51159
51177
51178
51182
51188
51191
51193
51217
51061
51062
51064
51065
50928
51030
51041
51042
51084
51451
51413
51415
51364
51029
51037
51040
51480
51203
51210
51393
51365
51367
50858
50859
51521
51208
50901
51290
51136
51305
51306
51307
51309
51310
51320
51321
51324
51328
51331
51336
51020
51500
50830
50832
51202
51247
51285
51318
51366
51039
51504
51161
50840
51430
50934
50846
51258
51378
51390
51394
51395
51405
51417
51421
51483
51495
51179
51023
51467
51346
51472
51473
51380
51449
51511
51253
51410
50977
51432
51459
51083
51468
51157
51113
50853
51490
51437
50860
50936
51004
51530
50870
51485
50894
50982
51212
51207
51242
51282
51189
50888
51526
51311
51349
50865
51048
51119
51121
51327
51330
50947
51488
51456
51435
51535
51536
51171
51533
51407
51304
50959
50961
51409
50833
51356
51361
51153
51173
51475
50834
51316
51322
51308
51012
50869
51055
51129
51396
51414
51537
51174
51175
51185
51186
51162
51163
51295
51329
51126
51019
51528
51389
51403
51165
51166
51169
51170

In [31]:
p1 ="""SELECT SUBJECT_ID,CHARTTIME,
max(case ITEMID when %s"""

p2 =""" then VALUE else 0 end) as '%s'
FROM aki_lab"""

In [ ]:
with closing(sql_connect()) as conn:
    n = 0
    for i in t.values:
        n = n+1
        sql= p1%int(i)+p2%int(i)
        df1 = pd.read_sql_query(con=conn,
        sql=sql)
        df1 = pd.DataFrame(df1)
        if n == 1:
            df =df1
        df = pd.concat([df,df1])

In [ ]:
with closing(sql_connect()) as conn:
    for i in p0:
        sql= p1%i
        df = pd.read_sql_query(con=conn,
        sql=sql,
        chunksize=1000)
        c=[chunk for chunk in df]  # 进行 chunksize 返回值的转换 成 DataFrame,开始
#     chunk=[c[i].iloc[:,1:2] for i in range(0,15)]  # 进行 chunksize 返回值的转换 成 DataFrame
        chunk=[c[i] for i in range(0,len(c))]
        df_c = pd.concat(chunk)

In [ ]:
select
	name '姓名',
	max(case subject when '语文' then score else 0 end) as '语文',
	max(case subject when '数学' then score else 0 end) as '数学',
	max(case subject when '英语' then score else 0 end) as '英语'
from student
group by name;

In [ ]:
list_of_ids = ITEMIDS
format_strings = ','.join(['%s'] * len(list_of_ids))
print(format_strings,len(list_of_ids))

partial_pull_query0 ="""SELECT C.SUBJECT_ID, C.HADM_ID, C.ICUSTAY_ID, C.ITEMID, C.CHARTTIME, C.VALUE, C.VALUENUM, C.VALUEUOM, II.INTIME, II.OUTTIME, II.LOS
FROM CHARTEVENTS C
INNER JOIN ICUSTAYS II
ON (C.SUBJECT_ID=II.SUBJECT_ID
    AND C.HADM_ID=II.HADM_ID
    AND C.ICUSTAY_ID=II.ICUSTAY_ID)
WHERE II.DBSOURCE='metavision'
AND (II.FIRST_CAREUNIT='MICU' or II.FIRST_CAREUNIT='SICU')
AND II.ICUSTAY_ID in (%d)"""

partial_pull_query1="""
   AND C.ITEMID in """

In [ ]:
with closing(sql_connect()) as conn:
    df = pd.read_sql_query(con=conn,
    sql="SELECT DISTINCT(ICUSTAY_ID) FROM ICUSTAYS WHERE DBSOURCE='metavision' AND (FIRST_CAREUNIT='MICU' OR FIRST_CAREUNIT='SICU')"
    ,chunksize=1000)
    c=[chunk for chunk in df]  # 进行 chunksize 返回值的转换 成 DataFrame,开始
    chunk=[c[i] for i in range(0,15)]  # 进行 chunksize 返回值的转换 成 DataFrame
    df_1 = pd.concat(chunk).reset_index(drop=True)  # 进行 chunksize 返回值的转换 成 DataFrame，结束
    print(len(df_1))
    icustays = df_1 ['ICUSTAY_ID']
    # icustays = list(df['ICUSTAY_ID'])
    print ("There are %d icustays in MICU and SICU under metavision." %len(icustays))

In [ ]:
# 试图保存数据to_pickle，用的时候在导入pd.read_pickle
icustays=pd.DataFrame(icustays)
icustays.to_pickle('icustays')
list_of_ids.to_pickle('list_of_ids')

上面已经保存了程序结果，下面直接使用就好，不用在继续运行一遍

In [ ]:
# 下面先不执行，采取了另一种方法，直接 加入sql中
# icustays=pd.read_pickle('icustays')
# list_of_ids=pd.read_pickle('list_of_ids')
# 将读取的DataFrame 数据 转换成 list
# icustays_array= np.array(icustays.stack())
# icustays =icustays_array.tolist()
# icustays=list(map(int,icustays) )  # 将里面的 str 类型 换成 int

In [ ]:
icustays=pd.read_pickle('icustays')
# 将读取的DataFrame 数据 转换成 list
icustays_array= np.array(icustays.stack())
icustays =icustays_array.tolist()
# 将列表中的数据 转换成 字符串
icustays=[str(i) for i in icustays]
# 加入 sql 语句中（取消[]）
icustays=','.join(icustays)
# 最后形式 '228232,223762,225309,227516,224829'

list_of_ids=pd.read_pickle('list_of_ids')
list_of_ids=list(list_of_ids)
# # 加入 sql 语句中（取消[]）
# list_of_ids=','.join(list_of_ids)

In [ ]:
list_of_ids=pd.read_pickle('list_of_ids')
list_of_ids=list(list_of_ids)
# 加入 sql 语句中（取消[]）
# list_of_ids=','.join(list_of_ids)

In [ ]:
# list_of_ids
# 将列表中的数据 转换成 字符串
list_of_ids=[str(i) for i in list_of_ids]
# 加入 sql 语句中（取消[]）
list_of_ids=','.join(list_of_ids)
list_of_ids

In [ ]:
icustays

In [ ]:
type(icustays)

In [ ]:
list_of_ids

In [ ]:
partial_pull_query0 ="""SELECT C.SUBJECT_ID, C.HADM_ID, C.ICUSTAY_ID, C.ITEMID, C.CHARTTIME, C.VALUE, C.VALUENUM, C.VALUEUOM, II.INTIME, II.OUTTIME, II.LOS
FROM CHARTEVENTS C 
INNER JOIN ICUSTAYS II
ON (C.SUBJECT_ID=II.SUBJECT_ID 
    AND C.HADM_ID=II.HADM_ID 
    AND C.ICUSTAY_ID=II.ICUSTAY_ID)  
WHERE II.DBSOURCE='metavision' 
AND (II.FIRST_CAREUNIT='MICU' or II.FIRST_CAREUNIT='SICU') 
AND II.ICUSTAY_ID in (%s)""" % icustays

partial_pull_query1="""
   AND C.ITEMID in (%s)""" % list_of_ids

In [ ]:
with closing(sql_connect()) as conn:
    sql= partial_pull_query0   + partial_pull_query1
    df = pd.read_sql_query(con=conn,
    sql=sql,
    chunksize=1000)
    c=[chunk for chunk in df]  # 进行 chunksize 返回值的转换 成 DataFrame,开始
#     chunk=[c[i].iloc[:,1:2] for i in range(0,15)]  # 进行 chunksize 返回值的转换 成 DataFrame
    chunk=[c[i] for i in range(0,len(c))]
    df_c = pd.concat(chunk)  # 进行 chunksize 返回值的转换 成 DataFrame，结束
#     df_c.to_pickle('df_c')
#     print(len(df))

In [ ]:
df_c

In [ ]:
str(tuple(list_of_ids))

In [ ]:
with closing(sql_connect()) as conn:
    sql= partial_pull_query0  + partial_pull_query1
    df = pd.read_sql_query(con=conn,
    sql=sql,
    chunksize=1000)
    c=[chunk for chunk in df]  # 进行 chunksize 返回值的转换 成 DataFrame,开始
    chunk_new=[c[i] for i in range(0,len(c))]  # 进行 chunksize 返回值的转换 成 DataFrame
    df_c_new = pd.concat(chunk_new).reset_index(drop=True)   # 进行 chunksize 返回值的转换 成 DataFrame，结束
    df_c_new.to_pickle('mimic_all_data')

In [ ]:
mimic_all_data=pd.read_pickle('mimic_all_data')

In [ ]:
mimic_all_data

In [ ]:
# ditems_query = """SELECT ITEMID, LABEL AS 'D.LABEL', UNITNAME AS 'D.UNITNAME' FROM D_ITEMS WHERE ITEMID IN """
ditems_query = """SELECT ITEMID, LABEL AS 'D.LABEL', UNITNAME AS 'D.UNITNAME' FROM D_ITEMS WHERE ITEMID IN (%s)"""

In [ ]:
with closing(sql_connect()) as conn:
    # item_info = pd.read_sql_query(con=conn, sql=(ditems_query + str(tuple(list_of_ids))),cursor_arraysize=1000)
    item_info = pd.read_sql_query(con=conn, sql=(ditems_query %list_of_ids),chunksize=1000)
    c=[chunk for chunk in item_info]  # 进行 chunksize 返回值的转换 成 DataFrame,开始
    chunk=[c[i] for i in range(0,len(c))]  # 取出所有块值
    item_info = pd.concat(chunk).reset_index(drop=True)   # 对所有块进行拼接，并重置索引

In [ ]:
results = pd.read_pickle('mimic_all_data')
item_info.to_pickle('item_info')
item_info = pd.read_pickle('item_info')

In [ ]:
# 调整 两个表格 的 共有列 的数据类型，要一致。
# 调整 两个表格 的 共有列 的数据类型，要一致。
# 调整 两个表格 的 共有列 的数据类型，要一致。
results['ITEMID'] = results['ITEMID'].astype(int)
# 进行拼接
results9=pd.merge(results, item_info, how='inner', on='ITEMID')

In [ ]:
results9.to_pickle('mimic_all_data')
results = pd.read_pickle('mimic_all_data')
results

In [ ]:
# # all_data = pd.read_pickle('mimic_all_data1') ## reload
# all_data = pd.read_pickle('mimic_all_data')
all_data = results

In [ ]:
# 查看 列名
print (all_data.columns.tolist())

# 重命名，修改了，      五

In [ ]:
all_data = all_data.rename(columns={'SUBJECT_ID':'C.SUBJECT_ID',
                            'HADM_ID':'C.HADM_ID',
                            'ICUSTAY_ID':'C.ICUSTAY_ID',
                            'ITEMID':'D.ITEMID',
                            'CHARTTIME':'C.CHARTTIME',
                            'VALUE':'C.VALUE',
                            'VALUENUM':'C.VALUENUM',
                            'VALUEUOM':'C.VALUEUOM',
                            'INTIME':'II.INTIME',
                            'OUTTIME':'II.OUTTIME',
                            'LOS':'II.LOS',
                            'D.LABEL':'D.LABEL',
                            'D.UNITNAME':'D.UNITNAME'})

In [ ]:
# # 去除前缀
# all_data = all_data.rename(columns={
#                             'D.LABEL':'LABEL',
#                             'D.UNITNAME':'UNITNAME'})
# all_data.columns.tolist()

In [ ]:
number_of_stays = len(all_data['C.ICUSTAY_ID'].unique())
print ("There are %d rows in the data. " %len(all_data))
print( "There are %d intensive care stays." %number_of_stays)

In [ ]:
# 查看是否 是 时间模式
all_data.info()

In [ ]:
# all_data['hrs_bd'] = (all_data['II.OUTTIME'] - all_data['C.CHARTTIME'].astype('datetime64[ns]'))/float(60**2)
# 取 小时
all_data['hrs_bd'] = (all_data['II.OUTTIME'] - all_data['C.CHARTTIME'].astype('datetime64[ns]'))/pd.Timedelta('1h')
all_data['hrs_bd']

In [ ]:
# 将CHARTTIME 换成 时间类型
a1 = pd.to_datetime(all_data['C.CHARTTIME'])

In [ ]:
a1.dtype

In [ ]:
a2=all_data['C.CHARTTIME'].astype('datetime64[ns]')
a1.dtype

# 记录  入院24、48、72小时的数据，其余 的暂时不要

In [ ]:
HR = 24  ## number of hours before start of ICUSTAY
# all_data1 = all_data.apply(lambda row: 1 if (row['II.OUTTIME'] - row['C.CHARTTIME']).total_seconds()/(60.**2) <= HR else 0 ,axis=1)
all_data['final_%dhr' %HR] = all_data.apply(lambda row: 1 if ( row['C.CHARTTIME'] - row['II.INTIME']).total_seconds()/(60.**2) <= HR else 0 ,axis=1)

In [ ]:
HR = 48  ## number of hours before start of ICUSTAY
# all_data1 = all_data.apply(lambda row: 1 if (row['II.OUTTIME'] - row['C.CHARTTIME']).total_seconds()/(60.**2) <= HR else 0 ,axis=1)
all_data['final_%dhr' %HR] = all_data.apply(lambda row: 1 if ( row['C.CHARTTIME'] - row['II.INTIME']).total_seconds()/(60.**2) <= HR else 0 ,axis=1)

In [ ]:
HR = 72  ## number of hours before start of ICUSTAY
# all_data1 = all_data.apply(lambda row: 1 if (row['II.OUTTIME'] - row['C.CHARTTIME']).total_seconds()/(60.**2) <= HR else 0 ,axis=1)
all_data['final_%dhr' %HR] = all_data.apply(lambda row: 1 if ( row['C.CHARTTIME'] - row['II.INTIME']).total_seconds()/(60.**2) <= HR else 0 ,axis=1)

In [ ]:
all_data.to_pickle('mimic_all_data1')

In [ ]:
all_data = pd.read_pickle('mimic_all_data1')

In [ ]:
all_data

## 将数据提取与队列合并..

我们现在添加用于群组识别和基于结果过滤的列。主要队列包括每次住院的第一个 ICUSTAY（应 > 13000 次住院）。

从这个队列中，我们对具有好 (1) 和坏 (0) 结果的 ICUSTAYS 感兴趣。

不良结果有两种类型：（A）院内死亡，（B）再入ICU（在同一住院期间）。

上面的抽象并不是万无一失的。

例如：

- 患者可能因相关原因在医院外死亡
- 再入院可能有联系，但发生在不同的住宿时间
- 院内死亡可能与 ICU 出院无关
- 等等

我们将以下列添加到数据框中：  

- ['cohort']：二进制标志。 1 表示 ICUSTAY 是队列的一部分（即第一次或唯一一次住院）。
- ['outcome']：二进制标志。 1 表示良好的结果（没有再入院的生存）。 0 表示不良结果（死亡或再入院）。
- ['in_h_death']：二进制标志。 1 为死亡。 0 为生存。（院内死亡）
- ['in_icu_death']：二进制标志。 1 为死亡。 0 为生存。（ICU内死亡）
- ['readmit']：整数。同一住院期间再次入院 ICU 的人数。

注意：HADM 比群组选择模拟.ipynb 中的少，因为并非所有患者都有图表事件数据。

In [ ]:
## 第一次进  ICU  的  'ICUSTAY_ID' 值
f = open('first_stays.pkl', 'rb')
first_stays = pickle.load(f)
f.close()

# 在医院内死亡   的  'HADM_ID'  值
f = open('moratlities.pkl', 'rb')
mortalities = pickle.load(f)
f.close()

#  对于每个 'HADM_ID' 而言进icu的次数
f = open('stay_counts.pkl', 'rb')
stay_counts = pickle.load(f)
f.close()

#    ICU 内死亡的   'ICUSTAY_ID'  值
f = open('icu_deaths.pkl', 'rb')
ic_deaths = pickle.load(f)
f.close()

In [ ]:
#增加 cohort（第一次进ICU） 列
print( "Adding cohort column 增加 cohort（第一次进ICU） 列...")
# all_data['cohort'] = all_data.apply(lambda row: 1 if int(row['C.ICUSTAY_ID']) in first_stays['HADM_ID'].values else 0 ,axis=1)
# all_data['cohort']

In [ ]:
all_data['cohort'] = all_data['C.ICUSTAY_ID'].apply(lambda r: 1 if int(r) in first_stays['HADM_ID'].values else 0)

In [ ]:
#增加 in_h_death（在医院内死亡） 列
print( "Adding in hospital column 增加 in_h_death（在医院内死亡） 列...")
# all_data['in_h_death'] = all_data['C.HADM_ID'].apply(lambda hadmid: 1 if hadmid in mortalities else 0 )
all_data['in_h_death'] = all_data['C.HADM_ID'].apply(lambda hadmid: 1 if int(hadmid) in mortalities else 0 )

all_data['in_h_death']

In [ ]:
#增加 in_icu_death（在ICU内死亡） 列
print( "Adding in icu death column 增加 in_icu_death（在ICU内死亡） 列...")
all_data['in_icu_death'] = all_data['C.ICUSTAY_ID'].apply(lambda icustay: 1 if int(icustay) in ic_deaths else 0 )

all_data['in_icu_death']

In [ ]:
all_data.to_pickle('mimic_all_data1')

### 对于每个 'HADM_ID' 而言进icu的次数

In [ ]:
# 将字典形式的stay_counts转换成DataFrame形式

stay_counts1=stay_counts
stay_counts_pd=pd.DataFrame(list(stay_counts.values())[0])
stay_counts=stay_counts_pd

In [ ]:
len(stay_counts)

In [ ]:
len(list(np.unique(all_data['C.HADM_ID'])))

In [ ]:
#增加 readmit（ HADM_ID的 再入ICU次数） 列
print ("Adding readmission column 增加 readmit（ HADM_ID的 再入ICU次数） 列...")
# 由于stay_counts 和 all_data['C.HADM_ID'] 长度不一样，所以我设置了缺失值，暂时不知道后期是否有影响，有影响在修改
all_data['readmit'] = all_data['C.HADM_ID'].apply(lambda hadmid: tuple(stay_counts.loc[int(hadmid)].values - 1)[0]
                                                  if int(hadmid) in stay_counts.index else 'nan' )

all_data['readmit']

#### 查看不是第一次入院的部分

In [ ]:
cond = all_data['readmit']>0
all_data[cond]

#### 查看       第一次入院的部分

In [ ]:
cond = all_data['readmit']==0
all_data[cond]

In [ ]:
# # 使用 any 方法，查看 空数据
# cond  =  all_data['readmit'].isnull() # axis = 1: 按列查看，找出列中存在空数据的 行
# # 直接使用[] ，进行 【行切片】
# cond.index

In [ ]:
all_data.to_pickle('mimic_all_data1')

In [ ]:
# n 是 ICU中没有死亡的 HADM_ID
n=[]
for i in stay_counts.index:
    if i not in mortalities:
        n.append(i)
        # print(i)
n

In [ ]:
# 只进过1次 ICU 但没有死亡 的 HADM_ID
print( "Adding outcome column 增加 outcome（ 只进过1次ICU 并且顺利出院 没有死亡  ） 列...")
# all_data['outcome'] = all_data['C.HADM_ID'].apply(lambda hadmid: 1 if (hadmid not in mortalities and hadmid in stay_counts.index
#                                                                        and stay_counts[hadmid]==1) else 0 )
# all_data['outcome'] = all_data['C.HADM_ID'].apply(lambda hadmid: 1 if (int(stay_counts.loc[hadmid].values)==1
#                                                                        for hadmid  in n
#                                                                        ) else 0 )
all_data['outcome'] = all_data['C.HADM_ID'].apply(lambda hadmid: 1 if (int(hadmid)  in n
                                                                       and int(stay_counts.loc[int(hadmid)].values)==1
                                                                       ) else 0 )
print ('finish adding new columns, saving data frame 完成添加新列，保存数据帧..')
all_data.to_pickle('mimic_all_data1')

#### int(i)

In [ ]:
v=[]
for i in all_data['C.HADM_ID'].unique():
    if int(stay_counts.loc[int(i)].values)==1:
    # if i in n:

        v.append(i)
len(v)

In [ ]:
# unique()：返回参数数组中所有不同的值，并按照从小到大排序
# 可选参数：
# return_index=True： 返回新列表中的每个元素在原列表中第一次出现的索引值，因此元素个数与新列表中元素个数一样
# return_inverse=True：返回原列表中的每个元素在新列表中出现的索引值，因此元素个数与原列表中元素个数一样

print ("There are %d unique ICU stays, of which" %len(all_data['C.ICUSTAY_ID'].unique()))
# print ("%d are in the cohort." %(len(all_data[all_data['cohort']==1]['C.ICUSTAY_ID'].unique())))
print ("%d are in the cohort." %(len(all_data[all_data['cohort'].values==1]['C.ICUSTAY_ID'].unique())))

In [ ]:
all_data.columns